body{
  background:#eee url('../images/black_dust_8.png') repeat;
  color:#9a9a9a;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;;
}
.dropdown-menu a,a,.navbar .brand{
  color:#60AEB0;
}
a:hover{
  color:#3a9aa4;
  text-decoration:none;
}
ul,ol {
  margin:0px;
}
li {
  list-style-type:none;
}
/*h1,h2,h3,h4,h5 {
  margin:0px;
}*/
/************** global *************/
.wrapper-box, .title {
  box-shadow:0px 1px 0px #f0f0f0;
  border-bottom:1px solid #b9b9b9;
  margin-bottom:20px;
}
.wrapper-box {
  margin-bottom:50px;
}
.title h3 {
  margin-bottom:0px;
}
table tr,
table td {
  background:#f0f0f0;
}
.docs-input-sizes select, .docs-input-sizes input[type="text"] {
display: block;
margin-bottom: 9px;
}
/***********************************/
/************** header *************/
/***********************************/
.navbar-fixed-top .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  float: right;
}
.navbar-inner {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
}
.navbar .nav > li > a {
  text-shadow:none;
  padding: 14px 10px 16px;
  color:#60AEB0;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open > .dropdown-toggle .caret {
  border-top-color: #60AEB0;
  border-bottom-color: #60AEB0;
}
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav > li > a:hover,
.navbar .nav .active > a,
.navbar .nav .active > a:hover {
  margin:-2px -1px 0px -1px;
  text-decoration: none;
  color:#555;
  background-color: #dfdfdf;
  box-shadow:inset 0px 0px 5px #b9b9b9;
  border:1px solid #bbb;
}
.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav > li.dropdown > .dropdown-toggle:hover .caret,
.navbar .nav li.dropdown.open > .dropdown-toggle:hover .caret {
  border-top-color: #555;
  border-bottom-color: #555;
}
.navbar .divider-vertical {
height: 49px;
margin: 0px 9px;
overflow: hidden;
}
.navbar .nav > li > a .avatar-small {
  float:left;
  margin-right:7px;
}
.navbar .nav > li > a .avatar-small img {
  width:25px;
  height:25px;
}
/***********************************/
/************** main *************/
/***********************************/
.main {
  margin:130px 0px;
}
.thumbnail {
  background:#fff;
}
/*.thumbnail-vertical*/
.thumbnail-vertical .caption {
  padding: 0px;
  margin:0px -5px;
}
.thumbnail-vertical .caption h5 {
  padding:0px 10px;
}
.thumbnail .number-value {
  width:45%;
  float:left;
}
.thumbnail .number-value p {
  border:1px solid #ddd;
  margin:0px;
  padding:6px 10px;
  font-size:16px;
}
.thumbnail .number-value p button {
  margin-right:7%;
}
.thumbnail .number-value .like{
  border-top:none;
}
.thumbnail .price {
  width:55%;
  float:left;
  font-size:28px;
  color:#b90c0c;
  text-align:center;
}
.thumbnail .price p {
  border:1px solid #ddd;
  border-left:none;
  line-height:2em;
  padding:10px 0px;
  height:65px;
}
.thumbnail .price p button {
  padding:10px 25px;
}
.thumbnail .caption-content {
  width:100%;
  height:87px;
  overflow:hidden;
}
.thumbnail-vertical .caption-footer h5 {
  padding:10px;
  margin:0px;
}
.thumbnail-vertical .caption-footer {
  margin-bottom:-3px;
  background-color: #cfcfcf;
  background-image: -moz-linear-gradient(top, #ebebeb, #cfcfcf);
  background-image: -ms-linear-gradient(top, #ebebeb, #cfcfcf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ebebeb), #cfcfcf));
  background-image: -webkit-linear-gradient(top, #ebebeb, #cfcfcf);
  background-image: -o-linear-gradient(top, #ebebeb, #cfcfcf);
  background-image: linear-gradient(top, #ebebeb, #ccc);
  border-radius:0px 0px 4px 4px;
  -webkit-border-radius:0px 0px 4px 4px;
  -moz-border-radius:0px 0px 4px 4px;
  -o-border-radius:0px 0px 4px 4px;
}
/*.thumbnail-horizontal*/
.thumbnail-horizontal [class*="row"]{
  margin-left:0px;
}
.thumbnail-horizontal .thumbnail [class*="span"]{
  margin-left:0px;
}
.thumbnail-horizontal .caption-content {
  margin:4px 0px;
}
.thumbnail-horizontal h5 {
  margin:0px;
  height:20px;
  overflow:hidden;
}
.thumbnail-horizontal .caption.span2 .caption-content .price .btn{
  padding:5px 10px;
  margin-top:-2px;
}
.thumbnail-horizontal .caption.span2 .caption-content .number-value,
.thumbnail-horizontal .caption.span2 .caption-content .price{
    width:100%;
  }
.thumbnail-horizontal .caption.span2 .caption-content {
    height:130px;
  }
.thumbnail-horizontal .caption.span2 .caption-content .price p{
  height:30px;
  font-size:24px;
  line-height:1.5em;
  border-top:none;
  border-left:1px solid #ddd;
  text-align:left;
  padding:0px 10px 10px 10px;
  }
.footer-bar {
background-color: #F1F1F1;
position: fixed;
bottom: 0;
height: 50px;
border-top: 1px solid #EBEBEB;
overflow: hidden;
width: 100%;
}
footer {
padding-top: 9px;
font-size: .85em;
white-space: nowrap;
line-height: 0;
}
footer ul li{
  float:left;
  margin-right:20px;  
}
/***********************************/
/************** Nav: tabs, pills, and lists *************/
/***********************************/
.gradient li > a {
  background:#ececec;
}
.gradient li > a,
.gradient .active > a,
.gradient .active > a:hover{
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: whiteSmoke;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
  background-image: -webkit-linear-gradient(top, white, #E6E6E6);
  background-image: -o-linear-gradient(top, white, #E6E6E6);
  background-image: linear-gradient(to bottom, white, #E6E6E6);
  background-image: -moz-linear-gradient(top, white, #E6E6E6);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.nav-stacked > .active > a,
.nav-stacked > .active > a:hover,
.gradient li > a:hover {
  background:#eee;
  color:#3dacb8;
}
.gradient .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > li.dropdown.open.active > a:hover {
color: white;
text-shadow:none;
background-image:none;
background-color: #999;
border-color: #999;
}
.nav-list .divider {
  background-color: #b9b9b9;
  border-bottom: 1px solid #f0f0f0;
}
.nav-list.well .divider {
  background-color: #E5E5E5;
  border-bottom: 1px solid white;
}
.breadcrumb {
  box-shadow:inset 1px 1px 4px #ccc;
}
.nav-list > .active > a, .nav-list > .active > a:hover,
.nav-pills > .active > a, .nav-pills > .active > a:hover {
  color:#fff;
  text-shadow:0px 1px 0px #0074ae;
  background-color: #08C;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0f96d9), to(#0088cc));
  background-image: -webkit-linear-gradient(top, #0f96d9, #0088cc);
  background-image: -o-linear-gradient(top, #0f96d9, #0088cc);
  background-image: linear-gradient(to bottom, #0f96d9, #0088cc);
  background-image: -moz-linear-gradient(top, #0f96d9, #0088cc);
}
.nav .dropdown-toggle .caret {
border-top-color: #60AEB0;
border-bottom-color: #60AEB0;
}
.nav .dropdown-toggle:hover .caret {
border-top-color: #3a9aa4;
border-bottom-color: #3a9aa4;
}
/*******pagination*******/
.pagination a, .pagination span {
float: left;
padding: 0 14px;
line-height: 38px;
text-decoration: none;
background-color: white;
border: 1px solid #DDD;
border-left-width: 0;
}
.pagination .disabled a:hover {
background-color: #eee;
}
.pagination .active a:hover,
.pagination .active a,
.pagination .active span {
  background-image:none;
  background-color:#eee;
  box-shadow:inset 0px 1px 2px #ccc;
}
/******** css-index *********/
#themes {
  margin-bottom:0px;
}
.browse-tools {
  margin-bottom:30px;
}
.browse-tools form {
  margin-bottom:0px;
  margin-top:30px;
}
/******** css-detail *********/
/******** product-main *********/
.product-main {
  background:#fff;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -o-border-radius:4px;
}
.product {
  margin:20px;
  padding:10px;
  background:#eee url('../images/black_dust_8.png') repeat;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -o-border-radius:4px;
  border:1px solid #ddd;
}
.product-content {
  margin:20px;
}
.box-live-preview {
  text-align:center;
  padding-top:10px;
}
/******** product-info *********/
.product-info {
  background:#fff;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -o-border-radius:4px;
}
/***********************************/
/************** icons *************/
/***********************************/
[class^="icon"],
[class*=" icon"] {
  background-image: url("../images/glyphicons-halflings.png");
}
/******** fix ****** width fluid********/
@media (min-width: 980px) and (max-width: 1200px) {
  .thumbnail-horizontal .thumbnail .caption {
    padding:0px 0px 0px 7px;
  }
  .thumbnail-vertical .span3 .thumbnail .number-value,
  .thumbnail-vertical .span3 .thumbnail .price,
  .thumbnail-horizontal .caption-content .number-value,
  .thumbnail-horizontal .caption-content .price{
  width:100%;
  }
  .thumbnail-vertical .span3 .thumbnail .caption-content {
    height:138px;
  }
  .thumbnail-vertical .span3 .thumbnail .caption-content .price p,
  .thumbnail-horizontal .caption-content .price p{
  height:40px;
  line-height:1.5em;
  border-top:none;
  border-left:1px solid #ddd;
  text-align:left;
  padding:0px 10px 10px 10px;
  }
  .thumbnail-horizontal .caption-content .price .btn{
    padding:5px 10px;
    margin-top:-2px;
  }
  .thumbnail-horizontal .caption-content {
    height:130px;
  }
  .thumbnail-horizontal .caption-content .price p{
  height:30px;
  font-size:24px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .thumbnail-horizontal .thumbnail .caption {
    padding:0px 0px 0px 7px;
  }
  .thumbnail .caption-content .number-value,
  .thumbnail .caption-content .price{
  width:100%;
  }
  .thumbnail .caption-content {
    height:138px;
  }
  .thumbnail .caption-content .price p{
  height:40px;
  line-height:1.5em;
  border-top:none;
  border-left:1px solid #ddd;
  text-align:left;
  padding:0px 10px 10px 10px;
  }
  .thumbnail-horizontal .caption-content .btn{
    padding:4px 5px;
    margin-right:0px;
  }
  .thumbnail-horizontal .caption-content .price .btn{
    padding:5px 10px;
    margin-top:-2px;
  }
  .thumbnail-horizontal .caption-content {
    height:130px;
  }
  .thumbnail-horizontal .caption-content .price p{
  height:30px;
  font-size:24px;
  }
  .thumbnail-vertical .span3{
    width:46%;
    margin:2% 1% 2% 3%;
  }
}
@media (min-width: 480px) and (max-width: 767px) { 

}
@media (min-width: 100px) and (max-width:479px){
  
}
/******** end fix width fluid ********/



