html, body {
  height: 100%; }
body {
  color:#4a4a4a;
  background:#e0e0e0;
  font-size:13px;
  line-height:1.5em;
  font-family:Arial;
}
ul,li {
  list-style-type:none;
}
h1,h2,h3,h4,h5,h6 {
  line-height:1em;
}
h1 {
  margin:20px 0px 40px 0px;
}
a {
  color:#4c3327;
}
a:hover {
  text-decoration:none;
  color:#4c3327;
}
/*************** btn ****************/
.header {
  background:#e0e0e0 url('../img/bg-header.png') repeat-x;
  height:132px;
  margin-bottom:30px;
}
.header .form-search {
  float:right;
  margin-top:40px;
}
.header .form-search .button {
  background:none;
  box-shadow:none;
  border:none;
  cursor:pointer;
}
.header .form-search {
  background:url('../img/bg-search.png') left 3px no-repeat;
  height:38px;
  padding-left:15px;
}
.header .form-search input {
  background:url('../img/bg-search.png') right bottom no-repeat;
  border:none;
  box-shadow:none;
  border-radius:0px;
  -o-border-radius:0px;
  -moz-border-radius:0px;
  -webkit-border-radius:0px;
  height:36px;
  width:200px;
  padding:0px;
}
.header .form-search input:focus,
input[type="text"]:focus {
  outline: none;
  box-shadow:none;
}
.header .navbar,
.footer .navbar {
  margin-top:10px;
}
.header .navbar-inner,
.footer .navbar-inner {
  background:none;
  border:none;
  box-shadow:none;
  background:url('../img/bg-gadian.png') left -1px no-repeat;
  padding:0px;
}
.header .navbar-inner .nav,
.footer .navbar-inner .nav {
  background:url('../img/bg-gadian.png') right bottom no-repeat;
  float:left;
  width:930px;
  margin-left:11px;
  text-transform: uppercase;
}

.navbar .nav > li > a,
.navbar .nav > li > a:hover,
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  box-shadow:none;
  background:none;
  color:#fff;
  text-shadow:none;
  margin:0px 15px;
}

/****main****/
.sidebar {
  position:relative;
  margin-top:18px;
}
.sidebar .title {
  background:url('../img/bg-gadian.png') left -1px no-repeat;
  height:40px;
  width:226px;
  left:-3px;
  top:-20px;
  z-index:100;
  display:block;
  position:absolute;
}
.sidebar .title h4{
  background:url('../img/bg-gadian.png') right bottom no-repeat;
  height:40px;
  padding:0px 10px;
  margin:0px 0px 0px 11px;
  color:#fff;
  font-weight:300;
  text-align:center;
  line-height:2em;
}
.sidebar .nav-list {
  padding-top:20px;
  z-index:10;
}
.sidebar .box {
  background:url('../img/bg-repeat.png') repeat;
  margin-bottom:10px;
  padding:10px 0px;
  border:1px solid #d7ba97;
}
.sidebar .nav-list > li {
  list-style-type:disc;
  margin-left:20px;
}
.sidebar .nav-list > li > a{
  font-weight:bold;
}
.sidebar .nav-list > li > a:hover{
  background:none;
}
.sidebar .nav-list > li > ul {
  margin-left:10px;
}
.sidebar .nav-list > li > ul > li {
  background:url('../img/icon-list.png') left 50% no-repeat;
  padding-left:15px;
}
.support,.total-user {
  text-align:center;
  padding:10px 0px;
}
.offline {
  margin-top:10px;
  display:block;
}
.total-user table {
  background:url('../img/bg-total-user.png') no-repeat;
  height:80px;
  width:113px;
  margin:0px auto;
}
.total-user table tr td {
  font-size:10px;
  padding:0px 5px;
  margin:0px;
  text-align:left;
  color:#fff;
}
.total-user table tr:nth-child(odd) td {
  color:#f9e006;
}
.total-user table tr td.last {
  text-align:right;
}
/*****body-content*****/
.banner-img {
  border:10px solid #bfb1aa;
  width:680px;
}
.banner-img img{
  width:680px;
  height:255px;
}
.banner-img-category,
.banner-img-category img {
  width:700px;
  border:none;
}
.about-content,
.feature-products{
  background:#fff;
  border:1px solid #c1b5ae;
  margin-top:10px;
}
.about-content h3,
.feature-products-content h3{
  font-family:'Cooper Std';
  font-style:italic;
  text-transform: uppercase;
}
.about-content .wra-content {
  padding:30px;
}
.about-content .wra-content img {
  float:right;
}
.about-content .content {
  width:60%;
  text-align:justify;
  float:left;
  padding-bottom:55px;
}
.feature-products-content {
  padding:10px;
}
.feature-products-content ul {
  margin:0px;
}
.feature-products-content ul li{
  float:left;
  margin:0px 0px 20px 10px;
}
.feature-products-content ul li.first {
  margin:0px;
}
.feature-products-content ul li img{
  width:220px;
  height:150px;
}
/*****product****/
.wra-product-list {
  margin-top:10px;
  border:1px solid #c1b5ae;
  background:#fff;
}
.wra-product-list .breadcrumb {
  padding:0px 0px;
  margin:0px 0px 0px 30px;
  background:none;
  border-bottom:1px dashed #b2b2b2;
  width:680px;
}
.wra-product-list .breadcrumb ul {
  margin:0px;
}
.wra-product-list .breadcrumb ul li {
  padding-top:10px;
}
.wra-product-list .breadcrumb ul li a {
  text-shadow:none;
  color:#853327;
}
.wra-product-list .breadcrumb ul li.active a {
  color:#999;
}
.show-product {
  width:200px;
  padding:10px;
}
.show-product h4 {
  color:#169e61;
}
.show-product a{
  border:2px solid #e7cda8;
  float:left;
  padding:10px;
  border-radius:8px;
  -o-border-radius:8px;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
}
.product-list ul {
  margin:50px 0px 0px -10px;
  float:left;
  min-height:120px;
  padding:0px;
}
.product-list ul li{
  float:left;
  width:145px;
  margin:0px 9px 9px 0px;
  border:1px solid #ddd;
}
.page {
  background:url('../img/bg-repeat.png') repeat; 
  padding:10px 0px;
}
.page span {
  float:left;
  margin-left:10px;
}
.page ul li {
  float:left;
  margin:0px 5px;
}
.page ul li a {
  color:#853327;
}
.footer-bottom {
  text-align:center;
  text-transform: uppercase;
  padding-bottom:10px;
}





