body{
  background:#eee url('../images/black_dust_8.png') repeat;
  color:#9a9a9a;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;;
}
a,.navbar .brand{
  color:#60AEB0;
}
a:hover{
  color:#3dacb8;
  text-decoration:none;
}
ul,ol {
  margin:0px;
}
li {
  list-style-type:none;
}
/************** global *************/
.gotop {
  position:fixed;
  bottom:50px;
  right:150px;
  opacity:0.7;
  filter: alpha(opacity = 70);
  z-index:1000;
}
.gotop:hover {
  opacity:1;
  filter: alpha(opacity = 100);
}
/***********************************/
/************** header *************/
/***********************************/
.header {
  z-index:100;
  position:absolute;
  width:100% ;
}
.header-line {
  height:3px;
  background:#ebebeb;
  display:block;
  box-shadow:0px 1px 3px #999;
}
.header-box {
  position:relative;
}
.header-left,.header-right {
  height:51px;
  width:24px;
}
.header-left {
  position:absolute;
  left:-24px;
  top:0px;
}
.header-right {
  position:absolute;
  right:-24px;
  top:0px;
}
.header-content {
  height:51px;
  display:block;
  width:100%;
  background:url('../images/bg-header-repeat.png') repeat-x;
}
.header-content a {
  float:left;
  margin:5px 0px 5px 25px;
}
.header-content a.active i{
  background-image: url("../images/icons/icon-hover.png");
}
.header-content .dash{
  height:45px;
  border-right:1px solid #cecece;
  border-left:1px solid #fff;
  float:left;
  margin:0px 3px 0px 25px;
}
.header-content form {
  padding-top:10px;
}
.header-content form input{
  width:88%;
  background:#fff url('../images/icons/i-search.png') 5px 3px no-repeat;
  padding-left:30px;
  border-radius:12px;
  -moz-border-radius:12px;
  -webkit-border-radius:12px;
  -o-border-radius:12px;
  box-shadow:inset 1px 2px 5px #e1e1e1;
}
/***********************************/
/************** box-link *************/
/***********************************/
.box-link {
  background:#f5f5f5;
  border:4px solid #e1e1e1;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  -o-border-radius:4px;
  text-align:center;
  padding-bottom:10px;
}
.social {
  position:fixed;
  width:60px;
  top:150px;
  right:-3px;
  z-index:100;
  box-shadow:0px 0px 6px #999;
}
.i-arrow-up{
  background:url('../images/icons/i-arrow-up.png') left top no-repeat;
  height:6px;
  width:6px;
  display:block;
}
.number-like .i-arrow-up{
  background:url('../images/icons/i-arrow-up.png') left top no-repeat;
  height:6px;
  width:6px;
  float:left;
  margin:-5px 0px 0px 26px;
}
.social a{
  display:block;
  margin-top:10px;
}
.box-link a.active i{
  background-image: url("../images/icons/icon-hover.png");
}
.vote-box-right {
  position:absolute;
  top:0px;
  right:-90px;
  background:#fff;
  width:80px;
  text-align:center;
  padding-top:10px;
}
.vote-box-right,.vote-box-right .number-like {
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  -o-border-radius:4px;
}
.vote-box-right a {
  width:100%;
  float:left;
  margin-bottom:8px;
}
.vote-box-right .number-like{
  position:relative;
  background:#eee;
  box-shadow:inset 0px 1px 2px #ddd;
  float:left;
  padding:10px 5px;
  width:60px;
  margin:0px 5px 14px 5px;
}
.vote-box-right .number-like .i-arrow-up {
  position:absolute;
  top:1px;
  left:7px;
}
/***********************************/
/************** main *************/
/***********************************/
.thumbnails .thumbnail{
  background:#fff;
  padding:7px;
  position:relative;
}
.main-content {
  margin-top:75px;
}
.main-content .box-img{
  margin-bottom:20px;
  text-align:center;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  -o-border-radius:4px;
}
.main-content .box-show {
  height:auto;
  text-align:center;
  margin-bottom:20px;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  -o-border-radius:4px;
}
.box-img-content {
  position:relative;
}
.box-img-content .box-like{
  position:absolute;
  top:10px;
  right:-100px;
  background:#f5f5f5;
  border:4px solid #e1e1e1;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  -o-border-radius:4px;
  width:60px;
  text-align:center;
  padding-bottom:10px;
  z-index:100;
  box-shadow:0px 0px 6px #999;
}
.box-img-footer {
  padding-top:10px;
  display:block;
}
.box-img-footer {
  position: absolute;
  bottom: 5px;
  background-color: white;
  height: 40px;
  width:610px;
}
.box-img-footer .box-link {
  text-align:left;
  border:none;
  background:none;
  padding:0px;
}
.box-img-footer .box-link a{
  margin-right:5px;
}
.box-img-footer .box-link .number-like {
  float:right;
  padding:10px;
  * margin-top:-35px;
}
/***********************************/
/************** upload *************/
/***********************************/
.form-upload {
  border:1px solid #d1d1d1;
}
.form-upload form{
  position:relative;
}
.input-fileupload,.fake-input-file button{
  height:62px;
  width:62px;
  position:absolute;
  z-index:10;
  top:-10px;
  background:#333;
  right:0px;
}
.input-file-wrapper .input-fileupload {
  opacity:0;
  filter:alpha(opacity = 0);
  z-index:100;
  height:62px;
  width:64px;
  cursor:pointer;
}
@-moz-document url-prefix(){.input-file-wrapper .input-fileupload{
  background:red;
    right:32%;
  }}
.fake-input-file button{
  background:url('../images/add-images.png') left top no-repeat;
  display:block;
  border:none;
  top:-20px;
}
.fake-input-file h3 {
  width:100%;
  margin-top:60px;
  * margin-top:75px;
  line-height:60px;
}
#btn-upload {
  display:block;
}
/***********************************/
/************** icons *************/
/***********************************/
[class^="icon"],
[class*=" icon"] {
  background-image: url("../images/glyphicons-halflings.png");
}
.icon-red [class^="icon"],
[class*=" icon"] {
  background-image: url("../images/glyphicons-halflings-red.png");
}
[class^="ic-"],
[class*=" ic-"] {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../images/icons/icon.png");
  background-position: 35px 35px;
  background-repeat: no-repeat;
}
[class^="ic-"]:hover,
[class*=" ic-"]:hover {
  background-image: url("../images/icons/icon-hover.png");
  background-position: 35px 35px;
  background-repeat: no-repeat;
}
.ic-upload,.ic-upload:hover {
  background-position: 0px 0px;
}
.ic-retweet,.ic-retweet:hover {
  background-position: 0px -40px;
}
.ic-random,.ic-random:hover {
  background-position: 0px -80px;
}
.ic-facebook,.ic-facebook:hover {
  background-position: 0px -120px; 
}
.ic-twitter,.ic-twitter:hover {
  background-position: 0px -160px; 
}
.ic-google-add,.ic-google-add:hover {
  background-position: 0px -200px;
}
.ic-flickr,.ic-flickr:hover {
  background-position: 0px -240px; 
}
.ic-like,.ic-like:hover {
  background-position: 0px -280px;
}
.ic-dislike,.ic-dislike:hover {
 background-position: 0px -320px; 
}
.ic-prev,.ic-prev:hover {
 background-position: 0px -360px;  
}
.ic-next,.ic-next:hover {
 background-position: 0px -400px;   
}
    
a.like {
    display: inline-block;
    float: left;
}
/******** fix ****** width fluid********/
/*
@media (min-width: 979px) and (max-width: 1360px) {
    .container {
        width: 800px;
    }
}
*/
@media (min-width: 768px) and (max-width: 979px) {
    .container {
        float: left;
    }
}
/*
@media (min-width: 480px) and (max-width: 767px) { 
  .header-content form input{
    width:63%;
    margin-left:2%;
  }
  .header-line {
    display:none;
  }
  .header-content a {
    margin:5px 0px 5px 15px;
  }
}
@media (min-width: 100px) and (max-width:480px){
  .header-line {
    display:none;
  }
  .header-content form input{
    width:50%;
    margin-left:2%;
  }
  .header-content a {
    margin:5px 0px 5px 15px;
  }
}*/
/******** end fix width fluid ********/
