body {
  height:1000px;
}
.navbar .nav.nav-lock li > a{
  padding-right:0px;
}
.nav-fix {
  top:40px;
  background:#ddd;
  width:100%;
}
.nav-fix .nav > li > a{
  padding-left:0px;
  padding-right:30px;
}
.nav-fix .nav.cart > li > a {
  padding-right:0px;

}
.ic-cart {
  background:url('../img/icon.png') left -100px no-repeat;
  height:25px;
  width:25px;
  float:left;
  margin-right:5px;
}