body{
  background:#fff;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  color:#555;
  padding-bottom:100px;
}
ul,ol {
  margin:0px;
}
li {
  list-style-type:none;
}
/***********************************/
/************** header *************/
/***********************************/
.dash {
  height:1px;
  background:#fff;
  border-bottom:1px solid #ddd;
  margin:40px 0px;
}
.header,.title {
  color:#666;
  text-align:center;
  padding:50px 0px;
  margin-bottom:30px;
  border-bottom:1px solid #ddd;
  text-shadow:0px 1px 0px #fff;
}
.title {
  text-align:left;
  padding:5px 0px;
  margin-bottom:30px;
}
/*************** .pricing-plans *************/
.pricing-plans {
  margin-bottom:20px;
  color:#fff;
}
.plan-container {
  text-align:center;
  width:24.5%;
  margin:0px 0.25%;
  float:left;
  border-radius:4px;
  -webkit-border-radius:4px;
  -o-border-radius:4px;
  -moz-border-radius:4px;
}
.plan-header {
  position:relative;
}
.plan-title {
  font-size:18px;
  padding:20px 0px;
  color:#fff;
  padding:10px 0px;
  border-bottom:1px solid #424242;/*change-color*/
  background-color: #585858;/*change-color*/
  border-radius:4px 4px 0px 0px;
  -moz-border-radius:4px 4px 0px 0px;
  -webkit-border-radius:4px 4px 0px 0px;
  -o-border-radius:4px 4px 0px 0px;
}
.plan-price {
  letter-spacing:-7px;
  font-size:90px;
  font-family:"Arial Rounded MT Bold",Arial;
  height:120px;
  line-height:1.2em;
  background:#636363;
  border-bottom:1px solid #424242;/*change-color*/
  border-top:1px solid #7e7e7e;/*change-color*/
}
.plan-price span {
  position: relative;
  top: -40px;
  left: 0px;
  display: inline;
  font-size: 24px;
  letter-spacing:0px;
}
.plan-content {
  border-top:1px solid #fff;
  background:#ebebeb;
  color:#868686;
}
.plan-content ul li {
  padding:10px 0px;
}
.plan-content ul li:nth-child(odd) {
  background:#f8f8f8;
}
.plan-footer {
  background:#f8f8f8;
  border-radius:0px 0px 4px 4px;
  -moz-border-radius:0px 0px 4px 4px;
  -webkit-border-radius:0px 0px 4px 4px;
  -o-border-radius:0px 0px 4px 4px;
  padding:30px 0px;
}
.btn-plan {
  color:#fff;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  -o-border-radius:4px;
  padding:15px 35px;
  background-color: #585858;
  background-image: -moz-linear-gradient(top, #636363, #585858);
  background-image: -ms-linear-gradient(top, #636363, #585858);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#636363), to(#585858));
  background-image: -webkit-linear-gradient(top, #636363, #585858);
  background-image: -o-linear-gradient(top, #636363, #585858);
  background-image: linear-gradient(top, #636363, #585858);
}
.btn-plan:hover {
  color:#fff;
  text-decoration:none;
  background-image:none;
  background-color: #636363;
}
.choose-plan {
  margin-top:50px;
  padding:50px 0px 51px 0px;
  font-size:20px;
  background:#959595;
  border-bottom:1px solid #6d6d6d;
}
.choose-plan span {
  color:#212327;
}
/***********************************/
/************** change-colum-plan *************/
/***********************************/
.plan-colum-5 .plan-container{
  width:19.8%;
  margin:0px 0.1%;
  * width:19.7%;
}
.plan-colum-4 .plan-content{
  height:380px;
}
.plan-colum-3 .plan-container{
  width:31%;
  margin:0px;
}
.plan-colum-3 .green-mg {
  margin:0px 0.5%;
  width:37%;
}
/***********************************/
/************** change-color-plan-title *************/
/***********************************/
.plan-container.red .plan-title{
  background:#c12f00;
  border-bottom-color:#ac2a00;
}
.plan-container.red .plan-price{
  background:#d73300;
  border-top-color:#ed3800;
  border-bottom-color:#ac2a00;
}
/*end red*/
.plan-container.gray .plan-title{
  background:#868686;
  border-bottom-color:#6d6d6d;
}
.plan-container.gray .plan-price{
  background:#959595;
  border-top-color:#aaa;
  border-bottom-color:#6d6d6d;
}
/*end gray*/
.blue .plan-title{
  background:#33373d;
  border-bottom-color:#212337;
}
.blue .plan-price{
  background:#40454c;
  border-top-color:#545961;
  border-bottom-color:#212327;
}
/*end blue*/
.plan-container.dark-blue .plan-title{
  background:#212327;
  border-bottom-color:#111113;
  color:#60ccd9;
}
.plan-container.dark-blue .plan-price{
  color:#60ccd9;
  background:#282b30;
  border-top-color:#33373e;
  border-bottom-color:#111113;
}
/*end dark-blue*/
.green .plan-header .btn{
  position:absolute;
  top:10px;
  right:10px;
}
.green .plan-title{
  font-weight:300;
  font-size:26px;
  background:#2f2f2f;
  border-bottom-color:#0e0e0e;
  border-radius:12px 12px 0px 0px;
  -moz-border-radius:12px 12px 0px 0px;
  -webkit-border-radius:12px 12px 0px 0px;
  -o-border-radius:12px 12px 0px 0px;
}
.green .plan-price{
  color:#aac300;
  height:140px;
  font-size:110px;
  border-top-color:#444;
  border-bottom-color:#0e0e0e;
  background-color: #303030;
  background-image: -moz-linear-gradient(top, #303030, #262626);
  background-image: -ms-linear-gradient(top, #303030, #262626);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#303030), to(#262626));
  background-image: -webkit-linear-gradient(top, #303030, #262626);
  background-image: -o-linear-gradient(top, #303030, #262626);
  background-image: linear-gradient(top, #303030, #262626);
}
.green .plan-price span {
  top:-60px;
}
.green .save-year {
  color:#f8ebb9;
  font-size:20px;
  border-top:1px solid #333;
  background-color: #242424;
  border-radius:0px 0px 12px 12px;
  -moz-border-radius:0px 0px 12px 12px;
  -webkit-border-radius:0px 0px 12px 12px;
  -o-border-radius:0px 0px 12px 12px;
  padding:15px 0px;
}
.green .plan-content{
  margin-top:20px;
  padding:20px 0px;
  background-color:#eee;
  border-radius:12px 12px 0px 0px;
  -moz-border-radius:12px 12px 0px 0px;
  -webkit-border-radius:12px 12px 0px 0px;
  -o-border-radius:12px 12px 0px 0px;
}
.green .plan-content ul li {
  border-bottom:1px solid #e0e0e0;
  border-top:1px solid #fff;
  background-color:#eee;
  margin:0px 20px;
}
.green .plan-content ul li:hover {
  background:#e9e9e9;
}
.green .plan-content ul li:last-child {
  box-shadow:0px 1px 0px #fff;
}
.green .plan-content ul li:first-child {
  box-shadow:0px -1px 0px #e0e0e0;
}
.green .plan-footer {
  background:#eee;
  border-radius:0px 0px 12px 12px;
  -moz-border-radius:0px 0px 12px 12px;
  -webkit-border-radius:0px 0px 12px 12px;
  -o-border-radius:0px 0px 12px 12px;
}
/*end green*/
/***********************************/
/************** change-color-btn *************/
/***********************************/
.btn-plan-gray {
  background-color: #959595;
  background-image: -moz-linear-gradient(top, #959595, #878787);
  background-image: -ms-linear-gradient(top, #959595, #878787);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#959595), to(#878787));
  background-image: -webkit-linear-gradient(top, #959595, #878787);
  background-image: -o-linear-gradient(top, #959595, #878787);
  background-image: linear-gradient(top, #959595, #878787);
}
.btn-plan-gray:hover {
  background-color:#878787;
}
.btn-plan-red {
  background-color: #585858;
  background-image: -moz-linear-gradient(top, #d73300, #ed4d13);
  background-image: -ms-linear-gradient(top, #d73300, #ed4d13);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d73300), to(#ed4d13));
  background-image: -webkit-linear-gradient(top, #d73300, #ed4d13);
  background-image: -o-linear-gradient(top, #d73300, #ed4d13);
  background-image: linear-gradient(top, #d73300, #ed4d13);
}
.btn-plan-red:hover {
  background-color:#d73300;
}
.btn-plan-blue {
  background-color: #70dbe8;
  background-image: -moz-linear-gradient(top, #7fe8f5, #60ccd9);
  background-image: -ms-linear-gradient(top, #7fe8f5, #60ccd9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7fe8f5), to(#60ccd9));
  background-image: -webkit-linear-gradient(top, #7fe8f5, #60ccd9);
  background-image: -o-linear-gradient(top, #7fe8f5, #60ccd9);
  background-image: linear-gradient(top, #7fe8f5, #60ccd9);
}
.btn-plan-blue:hover {
  background-color:#60ccd9;
}
.btn-plan-green {
  background-color: #bdd70d;
  background-image: -moz-linear-gradient(top, #bdd70d, #aac300);
  background-image: -ms-linear-gradient(top, #bdd70d, #aac300);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bdd70d), to(#aac300));
  background-image: -webkit-linear-gradient(top, #bdd70d, #aac300);
  background-image: -o-linear-gradient(top, #bdd70d, #aac300);
  background-image: linear-gradient(top, #bdd70d, #aac300);
}
.btn-plan-green:hover {
  background-color:#aac300;
}
/******** fix ****** width fluid********/
/*@media (min-width: 979px) and (max-width: 1360px) {

}*/
@media (min-width: 768px) and (max-width: 979px) {
  .plan-colum-3 .plan-container{
    width:60%;
    margin:0px 20%;
  }
  .plan-colum-3 .green-mg {
    margin:0px 15%;
    width:70%;
  }
  .plan-colum-4 .plan-container{
  width:49%;
  margin:0px 0.5%;
  }
  .plan-colum-5 .plan-container{
  width:48%;
  margin:0px 0.4%;
  }
  .plan-colum-3 .plan-container, .plan-colum-5 .plan-container{
    margin-bottom:40px;
  }
}
@media (min-width: 480px) and (max-width: 767px) { 
  .plan-colum-5 .plan-container{
  width:49%;
  margin:0px 0.2%;
  }
  .plan-colum-4 .plan-container{
  width:49%;
  margin:0px 0.5%;
  }
  .plan-colum-3 .plan-container{
    width:31%;
    margin:0px;
  }
  .plan-colum-3 .green-mg {
    margin:0px 0.5%;
    width:37%;
  }
  .plan-colum-3 .plan-container{
    width:70%;
    margin:0px 15%;
  }
  .plan-colum-3 .green-mg {
    margin:0px 10%;
    width:80%;
  }
  .plan-colum-3 .plan-container ,.plan-colum-4 .plan-container,.plan-colum-5 .plan-container{
    margin-bottom:40px;
  }
}
@media (min-width: 100px) and (max-width:480px){
  .plan-colum-3 .plan-container{
    width:90%;
    margin:0px 5%;
    margin-bottom:40px;
  }
  .plan-colum-3 .green-mg {
    width:100%;
    margin:0px;
  }
  .plan-colum-4 .plan-container,.plan-colum-5 .plan-container{
    width:99%;
    margin:0px 0.5%;
  }
  .plan-colum-3 .plan-container ,.plan-colum-4 .plan-container,.plan-colum-5 .plan-container{
    margin-bottom:40px;
  }
}
/******** end fix width fluid ********/



