/* ::selection{background:#fff8ab; color:#000} */
/* ::-moz-selection{background:#fff8ab; color:#000} */
@font-face {
    font-family: 'entypo';
    src: url('entypo.eot');
    src: url('entypo.eot?#iefix') format('embedded-opentype'),
         url('entypo.woff') format('woff'),
         url('entypo.ttf') format('truetype'),
         url('entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'entypo-social';
    src: url('entypo-social.eot');
    src: url('entypo-social.eot?#iefix') format('embedded-opentype'),
         url('entypo-social.woff') format('woff'),
         url('entypo-social.ttf') format('truetype'),
         url('entypo-social.svg#entypo-social') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face 	{
    font-family: 'entypo-logo';
    src: 	url('entypo-logo-webfont.eot');
    src: 	url('entypo-logo-webfont.eot?#iefix') format('embedded-opentype'),
         	url('entypo-logo-webfont.woff') format('woff'),
         	url('entypo-logo-webfont.ttf') format('truetype'),
         	url('entypo-logo-webfont.svg#entypo-logo') format('svg');
   font-weight: normal;
   font-style: normal;

}

body {
	background-color: #FFF;
	color: #3D3B38;
}

::selection {
	background-color: #EFDEC1;
	color: #3D3B38;
}

a, a:active, a:link, a:visited {
	color: #3D3B38;
}

.my-navbar .navbar-inner {
	border: none;
	background-color: #FFF;
	background-image: none;
	/*-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;*/
}

.my-navbar .brand {
    padding: 15px 10px 15px;
	background-color: #A2361E;
	color: white;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
    margin-left: 0;    
}

.my-navbar .brand .logo-text {
    font-style: italic;
}

.my-navbar .nav {
    margin: 15px 0;
}

.my-navbar .nav > li > a {
	padding: 5px 10px 5px;
    color: #3D3B38;
}

.divider {
    float: left;
    height: 45px;
    width: 1px;
    margin: 5px 15px;
    background-image: url('../img/divider.png');
    background-repeat: no-repeat;
}

.my-navbar .btn-navbar .icon-bar {
    background-color: #a2361e;
    width: 20px;
    height: 3px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}

.my-navbar .btn, .navbar .btn-group {
    margin-top: 10px;
}

.my-navbar .nav > li > a .notify {
    display: inline-block;
    background-color: #3A87AD;
    padding: 0 3px;
    color: #FFF;
}

#profile-dropdown img {
    height: 20px;
    width: 20px;
}

/*Widget*/
.widget {
    border: 1px solid #e7e8e3;
    padding: 5px 0;
    margin-bottom: 10px;
}

.widget .header {
    border-bottom: 4px solid #e7e8e3;
    padding: 0 5px;
    height: 30px;
    position: relative;
}

.widget .header .title {
    display: inline-block;
    margin: 0;
    border-bottom: 4px solid #A2361E;
    padding: 0 10px 5px 10px;
    color: #3c3b37;
    font-size: 14pt;
    position: absolute;
    bottom: -4px;
}

.widget .content {
    padding: 5px;
}

.stats {
    border: 1px solid #efdec2;
    background-color: #fcf9f4;
    text-align: center;
    width: 220px;
    margin: 0 auto;
    color: #A2361E;
    padding: 10px 0;
    margin-bottom: 10px;
    margin-top: 10px;
}

.stats span {
    display: block;
}

.stats span.number {
    font-weight: bold;
    font-size: 21pt;
    padding: 5px 0;
}

.stats span.icon {
    font-size: 15px;
}

.stats span.field {
    font-size: 13px;
}

.tc {
    text-align: center !important;
    vertical-align: middle !important;
}

.video_list .video_thumb {
    display: block;
    float: left;
}

.video_list .video_link {
    display: block;
    margin-left: 100px;
}

.widget .nav-tabs {
    border-bottom: 4px solid #e7e8e3;
    padding-left: 10px;
    margin-bottom: 10px;
}

.widget .nav-tabs > .active > a,
.widget .nav-tabs > .active > a:hover {
    cursor: default;
    border: none;
    border-bottom: 4px solid #A2361E;
    margin-bottom: -4px;
}

.widget .nav-tabs > li > a, 
.widget .nav-pills > li > a {
    margin-right: 0;
    border: 0;
}

.widget .nav-tabs > li > a:hover {
    background-color: transparent;
    border: 0;
}

.widget .tab-content {
    padding: 0 10px;
}

/*Feed*/
.feed {
    padding: 5px;
    border: 1px solid #EFDEC2;
    margin-bottom: 5px;
    position: relative;
    height: 60px;
}

.feed img {
    height: 40px;
    width: 40px;
    display: block;
    float: left;
    margin-top: 5px;
}

.feed .feed-content {
    margin: 0 30px 0 45px;
    display: block;
}

.feed .feed-content a {
    color: #005580;
}

.feed .feed-content .username {
    font-style: italic;
    font-size: 11px;
}

.feed .feed-content p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0;
}

.action {
    font-size: 11px;
}

.feed .type {
    position: absolute;
    right: 0;
    top: 0;
    padding: 25px 10px;
    text-align: center;
    background-color: #EFDEC2;
    color: #A2361E;
}

.more {
    text-align: center;
}

.more a {
    display: block;
    text-decoration: none;
    padding: 5px 0;
    border: 1px solid #EFDEC2;
}

.more a:hover {
    background-color: #EFDEC2;
    color: #A2361E;   
}