/* Large desktop */
@media (min-width: 1200px) {
	body {
		padding-top: 70px;
	}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.divider {
		display: none;
	}

	.navbar-fixed-top .navbar-inner,
	.navbar-fixed-bottom .navbar-inner {
	    padding-top: 0;
	}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.divider {
		display: none;
	}

	.navbar-fixed-top .navbar-inner,
	.navbar-fixed-bottom .navbar-inner {
	    padding-top: 0;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	.divider {
		display: none;
	}

	.navbar-fixed-top .navbar-inner,
	.navbar-fixed-bottom .navbar-inner {
	    padding-top: 0;
	}
}