body{
  background:#fff;
  font-family:Helvetica,Arial,sans-serif;
  color:#555;
  padding-bottom:100px;
}
ul,ol {
  margin:0px;
}
li {
  list-style-type:none;
}
.navbar .nav > li > a:hover {
color: #555;
text-decoration: none;
background-color: #E5E5E5;
-webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
-moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}
/***********************************/
/************** header *************/
/***********************************/
.dash {
  height:1px;
  background:#fff;
  border-bottom:1px solid #ddd;
  margin:50px 0px;
}
.header,.title {
  color:#666;
  text-align:center;
  padding:60px 0px;
  margin-bottom:30px;
  border-bottom:1px solid #ddd;
  text-shadow:0px 1px 0px #fff;
}
.title {
  text-align:left;
  padding:5px 0px;
  margin-bottom:40px;
}
.header .btn {
  padding:15px 30px;
  margin-top:20px;
}
.title p {
  margin-top:10px;
}
/*************** .pricing-plans *************/
.pricing-plans {
  margin-bottom:20px;
  color:#fff;
}
.plan-container {
  text-align:center;
  float:left;
  border-radius:4px;
  -webkit-border-radius:4px;
  -o-border-radius:4px;
  -moz-border-radius:4px;
}
.plan-header {
  position:relative;
}
/*end gray*/
.plan-title {
  margin:0px;
  line-height:30px;
  font-size:18px;
  padding:20px 0px;
  color:#fff;
  padding:10px 0px;
  border-bottom:1px solid #6d6d6d;/*change-color*/
  background-color: #868686;/*change-color*/
  border-radius:4px 4px 0px 0px;
  -moz-border-radius:4px 4px 0px 0px;
  -webkit-border-radius:4px 4px 0px 0px;
  -o-border-radius:4px 4px 0px 0px;
}
.plan-price {
  letter-spacing:-7px;
  font-size:90px;
  font-family:"Arial Rounded MT Bold",Arial;
  height:120px;
  line-height:1.2em;
  background:#959595;
  border-bottom:1px solid #6d6d6d;/*change-color*/
  border-top:1px solid #aaa;/*change-color*/
}
.plan-price span {
  position: relative;
  top: -40px;
  left: 0px;
  display: inline;
  font-size: 24px;
  letter-spacing:0px;
}
.plan-content {
  border-top:1px solid #fff;
  background:#ebebeb;
  color:#868686;
}
.plan-content ul li {
  padding:10px 0px;
}
.plan-content ul li:nth-child(odd) {
  background:#f8f8f8;
}
.plan-footer {
  background:#f8f8f8;
  border-radius:0px 0px 4px 4px;
  -moz-border-radius:0px 0px 4px 4px;
  -webkit-border-radius:0px 0px 4px 4px;
  -o-border-radius:0px 0px 4px 4px;
  padding:30px 0px;
}
.btn-plan {
  color:#fff;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  -o-border-radius:4px;
  padding:15px 35px;
  background-color: #585858;
  background-image: -moz-linear-gradient(top, #636363, #585858);
  background-image: -ms-linear-gradient(top, #636363, #585858);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#636363), to(#585858));
  background-image: -webkit-linear-gradient(top, #636363, #585858);
  background-image: -o-linear-gradient(top, #636363, #585858);
  background-image: linear-gradient(top, #636363, #585858);
}
.btn-plan:hover {
  color:#fff;
  text-decoration:none;
  background-image:none;
  background-color: #636363;
}
.choose-list-plan {
  margin-top:50px;
  padding:50px 0px 51px 0px;
  font-size:20px;
  background:#959595;
  border-bottom:1px solid #6d6d6d;
}
.choose-list-plan span {
  color:#212327;
}
/***********************************/
/************** .pricing-plans *************/
/***********************************/
/*pricing-table*/
.pricing-table .plan-header{
  margin-top:20px;
}
.pricing-table .plan-header .btn{
  position:absolute;
  top:10px;
  right:10px;
}
.pricing-table .plan-best-choose .plan-header {
  margin-top:0px;
}
.pricing-table .plan-best-choose .plan-content {
  padding:40px 0px;
}
.pricing-table .plan-title{
  text-align:left;
  padding-left:15px;
  font-weight:300;
  font-size:26px;
  border-radius:12px 12px 0px 0px;
  -moz-border-radius:12px 12px 0px 0px;
  -webkit-border-radius:12px 12px 0px 0px;
  -o-border-radius:12px 12px 0px 0px;
}
.pricing-table .plan-price{
  height:140px;
  font-size:110px;
}
.pricing-table .plan-price span {
  top:-60px;
}
.pricing-table .save-year {
  border-top:1px solid #aaa;
  border-radius:0px 0px 12px 12px;
  -moz-border-radius:0px 0px 12px 12px;
  -webkit-border-radius:0px 0px 12px 12px;
  -o-border-radius:0px 0px 12px 12px;
  padding:15px 0px;
  color:#fff;
  font-size:20px;
  background-color: #868686;
}
.pricing-table .plan-content{
  margin-top:20px;
  padding:20px 0px;
  background-color:#eee;
  border-radius:12px 12px 0px 0px;
  -moz-border-radius:12px 12px 0px 0px;
  -webkit-border-radius:12px 12px 0px 0px;
  -o-border-radius:12px 12px 0px 0px;
}
.pricing-table .plan-content ul li {
  border-bottom:1px solid #e0e0e0;
  border-top:1px solid #fff;
  background-color:#eee;
  margin:0px 20px;
}
.pricing-table .plan-content ul li:hover {
  background:#e9e9e9;
}
.pricing-table .plan-content ul li:last-child {
  box-shadow:0px 1px 0px #fff;
}
.pricing-table .plan-content ul li:first-child {
  box-shadow:0px -1px 0px #e0e0e0;
}
.pricing-table .plan-footer {
  background:#eee;
  border-radius:0px 0px 12px 12px;
  -moz-border-radius:0px 0px 12px 12px;
  -webkit-border-radius:0px 0px 12px 12px;
  -o-border-radius:0px 0px 12px 12px;
}
/*change color pricing-table green */
.green .plan-title {
  color:#f8ebb9;
  background:#2f2f2f;
  border-bottom-color:#0e0e0e;
}
.green .plan-price,.green .choose-list-plan{
  color:#aac300;
  border-top-color:#444;
  border-bottom-color:#0e0e0e;
  background-color: #303030;
  background-image: -moz-linear-gradient(top, #303030, #262626);
  background-image: -ms-linear-gradient(top, #303030, #262626);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#303030), to(#262626));
  background-image: -webkit-linear-gradient(top, #303030, #262626);
  background-image: -o-linear-gradient(top, #303030, #262626);
  background-image: linear-gradient(top, #303030, #262626);
}
.green .choose-list-plan span {
  color:#fff;
}
.green .save-year {
  color:#f8ebb9;
  font-size:20px;
  background-color: #242424;
  border-top-color:#333;
}
.green .plan-best-choose .plan-price {
  color:#aac300;
}
/*end green*/

/*change color pricing-table red */
.red .plan-best-choose .save-year {
  color:#f8ebb9;
  font-size:20px;
  background-color: #C12F00;
  border-top-color:#ED3800;
}
/*change color pricing-table blue */
.orange .plan-best-choose .save-year {
  color:#fff;
  font-size:20px;
  background-color:#ed8e00;
  border-top-color:#ffc46c;
}
.blue .save-year {
  background: #33373D;
  border-top-color: #545961;
}
.blue .plan-best-choose .save-year {
  color:#60CCD9;
  background: #212327;
  border-top-color: #33373E;
}

/***********************************/
/************** change-color-plan-title *************/
/***********************************/
.red .plan-best-choose .plan-title{
  background:#c12f00;
  border-bottom-color:#ac2a00;
}
.red .plan-best-choose .plan-price{
  background:#d73300;
  border-top-color:#ed3800;
  border-bottom-color:#ac2a00;
}
/*end red*/

.orange .plan-best-choose .plan-title{
  background:#ed8e00;
  border-bottom-color:#b66d00;
}
.orange .plan-best-choose .plan-price{
  background:#ff9900;
  border-top-color:#ffc46c;
  border-bottom-color:#b66d00;
}
/*end red*/

.blue .plan-title{
  background:#33373d;
  border-bottom-color:#212337;
}
.blue .plan-price,.blue .choose-list-plan{
  background:#40454c;
  border-top-color:#545961;
  border-bottom-color:#212327;
}
.blue .plan-best-choose .plan-title{
  background:#212327;
  border-bottom-color:#111113;
  color:#60ccd9;
}
.blue .plan-best-choose .plan-price{
  color:#60ccd9;
  background:#282b30;
  border-top-color:#33373e;
  border-bottom-color:#111113;
}
/*end blue*/
/***********************************/
/************** change-color-btn *************/
/***********************************/
.btn-plan {
  background-color: #959595;
  background-image: -moz-linear-gradient(top, #959595, #878787);
  background-image: -ms-linear-gradient(top, #959595, #878787);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#959595), to(#878787));
  background-image: -webkit-linear-gradient(top, #959595, #878787);
  background-image: -o-linear-gradient(top, #959595, #878787);
  background-image: linear-gradient(top, #959595, #878787);
}
.btn-plan:hover {
  background-image:none;
  background-color:#878787;
}
.red .plan-best-choose .btn-plan {
  background-color: #585858;
  background-image: -moz-linear-gradient(top, #d73300, #ed4d13);
  background-image: -ms-linear-gradient(top, #d73300, #ed4d13);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d73300), to(#ed4d13));
  background-image: -webkit-linear-gradient(top, #d73300, #ed4d13);
  background-image: -o-linear-gradient(top, #d73300, #ed4d13);
  background-image: linear-gradient(top, #d73300, #ed4d13);
}
.red .plan-best-choose  .btn-plan:hover {
  background-image:none;
  background-color:#d73300;
}
.orange .plan-best-choose .btn-plan {
  background-color: #585858;
  background-image: -moz-linear-gradient(top, #ff9900, #f29100);
  background-image: -ms-linear-gradient(top, #ff9900, #f29100);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff9900), to(#f29100));
  background-image: -webkit-linear-gradient(top, #ff9900, #f29100);
  background-image: -o-linear-gradient(top, #ff9900, #f29100);
  background-image: linear-gradient(top, #ff9900, #f29100);
}
.orange .plan-best-choose  .btn-plan:hover {
  background-image:none;
  background-color:#f29100;
}
.blue .plan-best-choose .btn-plan {
  background-color: #70dbe8;
  background-image: -moz-linear-gradient(top, #7fe8f5, #60ccd9);
  background-image: -ms-linear-gradient(top, #7fe8f5, #60ccd9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7fe8f5), to(#60ccd9));
  background-image: -webkit-linear-gradient(top, #7fe8f5, #60ccd9);
  background-image: -o-linear-gradient(top, #7fe8f5, #60ccd9);
  background-image: linear-gradient(top, #7fe8f5, #60ccd9);
}
.blue .plan-best-choose .btn-plan:hover {
  background-color:#60ccd9;
}
.green .plan-best-choose .btn-plan{
  background-color: #bdd70d;
  background-image: -moz-linear-gradient(top, #bdd70d, #aac300);
  background-image: -ms-linear-gradient(top, #bdd70d, #aac300);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bdd70d), to(#aac300));
  background-image: -webkit-linear-gradient(top, #bdd70d, #aac300);
  background-image: -o-linear-gradient(top, #bdd70d, #aac300);
  background-image: linear-gradient(top, #bdd70d, #aac300);
}
.green .plan-best-choose .btn-plan:hover {
  background-image:none;
  background-color:#aac300;
}
/******** fix ****** width fluid********/
  .pricing-5-colum .plan-container{
  width:19.8%;
  margin:0px 0.1%;
  * width:19.7%;
  }
  .pricing-plans .plan-container.span2{
    width:16.4%;
    margin:0px 0.1%;
  }
  .pricing-table .plan-best-choose.span2 .plan-header button{
    display:none;
  }
  .pricing-plans .plan-container.span3{
    width:24.8%;
    margin:0px 0.1%;
  }
  .pricing-plans .plan-container.span4{
    width:31%;
    margin:0px;
  }
  .pricing-plans .plan-best-choose.span4 {
    margin:0px 0.5%;
    width:37%;
  }
@media (min-width: 979px) and (max-width: 1360px) {
  .pricing-5-colum .plan-container{
  width:19.8%;
  margin:0px 0.1%;
  * width:19.7%;
  }
  .pricing-plans .plan-container.span2{
    width:16.4%;
    margin:0px 0.1%;
  }
  .pricing-table .plan-best-choose.span2 .plan-header button{
    display:none;
  }
  .pricing-plans .plan-container.span3{
    width:24.8%;
    margin:0px 0.1%;
  }
  .pricing-plans .plan-container.span4{
    width:31%;
    margin:0px;
  }
  .pricing-plans .plan-best-choose.span4 {
    margin:0px 0.5%;
    width:37%;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .pricing-5-colum .plan-container{
  width:32.8%;
  margin:0px 0.1%;
  * width:32.7%;
  }
  .pricing-plans .plan-container.span2{
    width:33%;
    margin:0px 0.1%;
  }
  .pricing-plans .plan-container.span3{
    width:24.8%;
    margin:0px 0.1%;
  }
  .pricing-plans .plan-container.span4 {
    margin-bottom:40px;
    width:33%;
    margin:0px 0.1%;
  }
  .pricing-plans .plan-container.span2,
  .pricing-5-colum .plan-container{
    margin-top:40px;
  }
}
@media (min-width: 480px) and (max-width: 767px) { 
  .pricing-plans .plan-container.span2,
  .pricing-plans .plan-container.span3,
  .pricing-5-colum .plan-container{
    float:left;
    width:49.8%;
    margin:0px 0.1%;
    margin-bottom:40px;
  }
  .pricing-plans .plan-container.span4 {
    margin-bottom:40px;
  }
}
@media (min-width: 100px) and (max-width:479px){
  .pricing-plans .plan-container.span4,
  .pricing-5-colum .plan-container {
    width:100%;
    margin-bottom:40px;
    float:left;
  }
}
/******** end fix width fluid ********/



