body {
  background:#fff;
  color:#4F575A;
  font-weight:200;
}
 .well{
  background:#eee;
}
 code {
  padding: 2px 4px;
  color: #E17931;
  background-color: #f3f3f3;
  border: 1px solid #DFE89D;
}
textarea, input[type="text"],
input[type="password"], input[type="datetime"],
input[type="datetime-local"], input[type="date"],
input[type="month"], input[type="time"], input[type="week"],
input[type="number"], input[type="email"], input[type="url"],
input[type="search"], input[type="tel"], input[type="color"], .uneditable-input

.form-inline input,.form-horizontal input,.form-comment input,.form-search input,
.form-inline textarea,.form-horizontal textarea,.form-comment textarea,.form-search textarea,
.form-inline select,.form-horizontal select,.form-comment select,.form-search select,
#multiSelect,.uneditable-input,#textarea
{
  background:#fff;
  border-color:#ddd;
  box-shadow: none;
}
.form-actions {
  background: #eee;
  border: none;
  display: block;
}
.wrapper-box {
  box-shadow: 0px 1px 0px #fff;
  border-bottom: 1px solid #ddd;
  margin-bottom: 40px;
}
.input-prepend .add-on, .input-append .add-on {
  color: white;
  text-shadow: 0 1px 0 #c9c9c9;
  background-color: #ddd;
  border: 1px solid #ddd;
}
 .bg-title {
  background: #eee;
  box-shadow: inset 1px 1px 3px #ddd;
  color: #4F575A;
}
 .title {
  color: #4F575A;
  box-shadow: 0px 1px 0px #fff;
  border-bottom: 1px solid #DFE89D;
}
 a,
 .navbar-f .brand{
  color:#9CCB55;
}
 a:hover{
  color:#869E00;
  text-decoration:none;
}
 .navbar-f .navbar-inner {
  background:#4F575A;
  border-bottom-color:#394144;
  border-top-color:#60686b;
  color:#fff;
}
 .navbar-f .nav > li > a {
  color:#fff;
  text-shadow:none;
}
 .navbar-f .nav > li > a:hover,
 .navbar-f .nav > li.active > a,
 .navbar-f .nav > .dropdown.active > a:hover,
 .navbar-f .nav > li.active > a:hover
{
  background:#9CCB55;
  color:#fff;
  text-shadow:none;
  border-radius:0px;
}
 .navbar-f .navbar-inverse .nav li.dropdown > .dropdown-toggle:hover .caret,
.nav .dropdown-toggle .caret,
 .navbar-f .navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
border-top-color: #fff;
border-bottom-color: #fff;
}
 .navbar-f .navbar-inverse .nav li.open > .dropdown-toggle,
 .navbar-f .navbar-inverse .nav li.open > .dropdown-toggle:hover .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
  background:#9CCB55;
}
 .navbar-f .navbar-inverse .divider-vertical {
  border-right-color: #60686b;
  border-left-color: #394144;
}
 .navbar-f .navbar-inverse .navbar-search .search-query {
  background:#f5f5f5;
  color:#4F575A;
}
 .navbar-f .navbar-inverse .navbar-search .search-query:focus {
  text-shadow:none;
  background:#fff;
}
 .navbar-f .nav .dropdown-menu li a {
  color:#9CCB55;
}
 .navbar-f .nav .dropdown-menu li a:hover{
  background:#9CCB55;
  color:#fff;
}
.bg-dropdown-menu {
  background:#4F575A;
}
.bg-dropdown-menu .divider {
  background-color: #394144;
  border-bottom: 1px solid #60686b;
}
.navbar .nav > li > .bg-dropdown-menu::after {
  border-bottom: 6px solid #4F575A;
}
/***************** list-menu ****************/
 .list-menu {
  padding-bottom:20px;
}
 .list-menu .nav-list > li{
  border-top:1px solid #71797c;
  border-bottom:1px solid #394144;
}
 .list-menu .nav > li > a {
  color:#fff;
  border-left:5px solid #4F575A;
  background-color: #60686b;
}
 .list-menu .nav > li.active > a,
 .list-menu .nav > li > a:hover{
  background-color: #4F575A;
  color:#fff;
  border-left-color:#9ccb55;
}
 .list-menu .nav > li > ul > li > a {
  color:#ddd;
  border-left-color:#394144;
  background: #60686b;
}
/***************** box ****************/
 .box-header {
  color:#fff;
  background: #9CCB55;
  border:1px solid #9CCB55;
  padding-left:10px;
}
 .box-header h4 {
  color:#fff;
}
 .box-content {
  background:#fff;
  border:1px solid #DFE89D;
  color:#4F575A;
}
 .breadcrumb {
  box-shadow: inset 1px 1px 3px #394144;
  background-color: #60686b;
  color:#fff;
}
 .thumbnails li .thumbnail {
  background:#eee;
}
/***************** dashboarh ****************/
 .stat-wrapper .box-stat, .box-stat {
  background: #9CCB55;
  box-shadow: inset 1px 1px 3px #869E00;
}
 .stat-wrapper .box-stat .stat-value {
  color: #fff;
}
 .quick-shortcuts .nav-pills > li > a {
  box-shadow: inset 1px 1px 3px #ddd;
  background: #eee;
  color:#999;
}
 .quick-shortcuts .nav-pills > li > a:hover {
  background: #f9f9f9;
  color:#9CCB55; 
}
 .news-items li {
  box-shadow: none;
  border-bottom-color: #ddd;
}
 .news-item-detail {
  border-right-color: #ddd;
}
.news-item-date {
  border-left: none;
}
/***************** FAQ ****************/
 .faq-icon .faq-number {
  background: #9CCB55;
  border-bottom: 1px solid #869E00;
  box-shadow: inset 1px 1px 3px #869E00;
  color: #fff;
  padding:3px 9px;
}
 .faq-text h4{
  color:#4F575A;
}
/***************** table ****************/
 .table thead tr th {
  color:#4F575A;
  background: #e5e5e5;
}
 .table tr td {
  background: #f5f5f5;
  color:#4F575A;
}
 .table tbody tr:nth-child(odd) td,
 .table tbody tr:nth-child(odd) th {
  background:#eee;
}
 .table tbody tr:hover td,
 .table tbody tr:hover th {
  background-color: #f8f8f8;
}
 .table tbody tr td,
 .table-condensed tr td,
 .table-striped tr td,
 .table-bordered tr th,
 .table-bordered tr td {
  border-top: none;
  border-bottom: 1px solid #ccc;
}
 .table-bordered,
 .table-bordered thead tr {
    border:none;
}
 .table-bordered thead tr th,
 .table-bordered tr td {
  border:1px solid #ddd;
}
 .table-bordered-none thead tr th,
 .table-bordered-none tr td {
  border-bottom:1px solid #ccc;
}
 .hero-unit {
  background-color: #4F575A;
  color:#fff;
}
/************ end table **************/
/************ nav **************/
 .nav > li > a {
  color:#9CCB55;
}
 .nav-tabs > .active > a,
 .nav-tabs > .active > a:hover,
 .nav-tabs.nav > li > a:hover,
 .nav-pills > .active > a,
 .nav-pills > .active > a:hover {
  color: #4F575A;
  background-color: #eee;
  border-color: #eee;
}
 .nav-tabs {
  border-bottom: 1px solid #eee;
  box-shadow: none;
}
 .nav-tabs > li > a {
  border-color: #eee;
  background: #f7f7f7;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-left > .nav-tabs > .active > a,
.tabs-left > .nav-tabs > .active > a:hover,
.tabs-right > .nav-tabs > .active > a,
.tabs-right > .nav-tabs > .active > a:hover {
  border-color:#eee;
}

 .nav-tabs.nav-stacked > li > a {
  border: 1px solid #ddd;
}
 .tab-content {
  background:none;
  border:1px solid #eee;
  padding:10px;
}
 .tabs-below .nav-tabs {
  box-shadow: none;
  border-top-color:#eee;
  border-bottom:none;
}
 .tabs-below .tab-content {
  border-bottom:none; 
}
 .tabs-left > .nav-tabs,
 .tabs-right > .nav-tabs{
  border-right:none;
  border-bottom:none;
}
 .tabs-right > .nav-tabs{
  border-left:none;
}
 .tabs-left > .nav-tabs > li.active a:hover,
 .tabs-right > .nav-tabs > li.active a:hover{
  border-bottom-color:#ddd;
}
 .pagination a {
  background: #60686B;
  border:1px solid #71797c;
  border-right:1px solid #394144;
}
 .pagination ul > li > a:hover,
 .pagination .active a {
  background: #4F575A;
  color:#DFE89D;
}
 .pager > li > a {
  background: #eee;
  border-color:#ddd;
}
.pager > li > a:hover {
  background: #eee;
}
.nav-list > li > a:hover,
 .nav-list > .active > a,
 .nav-list > .active > a:hover {
  background-image:none;
  background:#ddd;
  text-shadow:none;
}
 .nav-list .divider {
  background-color: #ddd;
  border-bottom: 1px solid #fafafa;
}
/***************** calenda ****************/
.calendar .header-calendar {
  background: #eee;
  padding: 10px 0px 13px 0px;
  color: #4F575A;
  font-size: 16px;
}
.calendar .table tbody tr td:hover,
.calendar .table tbody tr:nth-child(odd) td:hover,
.calendar .table tbody tr td.active {
  background:#f5f5f5;
  box-shadow:inset 1px 1px 1px #ccc;
}
.calendar .header-calendar a {
  border-color:#ccc;
}
.calendar .header-calendar a:hover {
  box-shadow:inset 1px 1px 1px #ccc;
}
.navbar-inverse .btn-navbar {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ddd;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#ddd));
  background-image: -webkit-linear-gradient(top, #eee, #ddd);
  background-image: -o-linear-gradient(top, #eee, #ddd);
  background-image: linear-gradient(to bottom, #eee, #ddd);
  background-image: -moz-linear-gradient(top, #eee, #ddd);
  background-repeat: repeat-x;
  border-color: #ddd #ddd #ddd;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffeee', endColorstr='#ffddd', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.navbar-inverse .btn-navbar:hover {
  background:#ddd;
}
.navbar-inverse .nav-collapse .nav > li > a:hover,
.navbar-inverse .nav-collapse .dropdown-menu a:hover {
  background: #9CCB55;
}
i[class^="i-"]{
  background:url("../img/icons/icon-green-big.png") left top;
  width:52px;
  height:40px;
  display:inline-block;
}
/***************** pricing ****************/
.plan-price {
  background: #9CCB55;
  border:none;
}
.plan-business {
  box-shadow:none;
}
.plan-business .plan-price {
  color: #fff;
  text-shadow:1px 1px 1px #999;
  background: #9CCB55;
}
.plan-business .plan-header,.plan-header {
  border-bottom:5px solid #eee;
}
.plan-title, .plan-footer {
  background: #ddd;
  border-top: 1px solid #ccc;
  border-bottom: 5px solid #f5f5f5;
}
.plan-business .plan-title {
  background: #9CCB55;
}
.plan-business .plan-content ul li b {
  color:#9CCB55;
}
.plan-container,.plan-content {
  background: #eee;
}
.plan-content ul li b {
  color: #fff;
}
.plan-content ul li {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #eee;
  background: #ddd; 
}
/***************** footer ****************/
 .footer {
  background: #4F575A;
  border-top: 1px solid #60686b;
  box-shadow: 0px -1px 0px #394144;
  border-bottom: 1px solid #394144;
}
 .footer .nav-list a{
  color:#9CCB55;
}
 .footer .nav-list a:hover {
  color:#DFE89D;
  background:none;
}
 .footer .nav-list > li > a:hover i{
  background:url("../img/glyphicons-halflings-green.png") 0px -168px;
}
 .copyright {
  border-top: 1px solid #60686b;
  background: #394144;
  color:#fff;
}
@media (min-width: 768px) and (max-width: 979px) {
  .navbar-search {
    width:100%;
  }
  .navbar-search input {
    width:50%;
    float:right;
  }
}

