body {
    padding-top: 50px;
}

.navbar .nav {
    margin-left: 10px;
}

.widget-header {
    border-bottom: 2px solid #E5E5E5;
    color: #777;
    padding: 10px;
}

.widget-header h4 {
    padding: 0;
    margin: 0; 
}

.widget-container {
    padding: 10px;
}

ul.shortcut {
    list-style: none;
    display: inline-block;
    text-align: center;
    margin: 0;
}

ul.shortcut li {
    list-style: none;
    display: inline-block;
    width: 120px;
    background-color: #EFEFEF;
    margin-top: 10px; 
}

ul.shortcut li:hover {
    background-color: #777;
}

ul.shortcut li:hover a {
    color: #DDD;
}

ul.shortcut li a {
    margin: 0;
    padding: 20px 0px;
    text-decoration: none;
}

ul.shortcut li a,
ul.shortcut li span {
    display: block;
}

.card {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
}

.card span {
    display: block;
    padding: 7px;
    background-color: #EFEFEF;
    margin-bottom: 5px;
}

.icon {
    background: url("../img/icon-blue-big.png") left top;
    width: 52px;
    height: 40px;
    display: inline-block;
}

.icon.home {
    background-position: -650px bottom;
}

@media (max-width: 979px) {
    body {
        padding: 0;
    }
}