html, body {
  height: 100%;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  src:url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-weight:bold;
  src:url('../fonts/OpenSans-Bold.ttf');
}
@font-face {
  font-family: 'cooper';
  font-style: normal;
  src:
  url('../fonts/cooper_becker_black_cond.ttf');
}
body {
  color:#4a4a4a;
  background:#f5f5f5;
  font-size:13px;
  line-height:1.5em;
  font-family:'Open Sans';
}
ul,li {
  list-style-type:none;
}
h1,h2,h3,h4,h5,h6 {
  line-height:1em;
  font-family:'Open Sans';
  font-weight:300;
  /*letter-spacing: -1px;*/
}
h1 {
  margin:20px 0px 40px 0px;
}
a {
  color:#00A0B0;
}
a:hover {
  text-decoration:none;
  color:#0093a2;
}
.file {
  position:relative;
  overflow:hidden;
  width:100px;
  width:60px \9;
  height:24px;
  background:#444;
  border-radius:4px;
  -o-border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  line-height:1.6em;
  text-align:center;
}
input[type="file"] {
  left:0px;
  top:0px;
  position:absolute;
  background:#333;
  opacity:0;
  filter:alpha(opacity="0");
  left:-150px \9;
  cursor:pointer;
}
.file span {
  margin-left:-14px \9;
}
.row-fluid input[class*="span"] {
  min-height:20px\9;
}
/*************** btn ****************/
.btn {
  background:none;
  border:none;
  background:#ddd;
  text-shadow:none;
}
.btn-large {
  padding:10px 20px;
}
.btn-ufo,
.btn-red,
.btn-sun,
.btn-brown,
.btn-daylight,
.btn-ufo:hover,
.btn-red:hover,
.btn-sun:hover,
.btn-brown:hover,
.btn-daylight:hover,
.btn-ufo.active,
.btn-red.active,
.btn-sun.active,
.btn-brown.active,
.btn-daylight.active {
  color:#fff;
}
.btn-ufo {
  background:#00A0B0;
}
.btn-ufo:hover,
.btn-ufo.active,
.btn-group.open .btn-ufo.dropdown-toggle {
  background:#0093a2;
}
.btn-red {
  background:#CC333F;
}
.btn-red:hover,
.btn-red.active,
.btn-group.open .btn-red.dropdown-toggle {
  background:#bb2c37;
}
.btn-sun {
  background:#EB6841;
}
.btn-sun:hover,
.btn-sun.active,
.btn-group.open .btn-sun.dropdown-toggle {
  background:#da5f3b;
}
.btn-brown {
  background:#6A4A3C;
}
.btn-brown:hover,
.btn-brown:active,
.btn-group.open .btn-brown.dropdown-toggle {
  background: #5a3f33;
}
.btn-daylight {
  background: #EDC951;
}
.btn-daylight:hover,
.btn-daylight:active,
.btn-group.open .btn-daylight.dropdown-toggle {
  background: #ddbb4b;
}
.btn-primary {
  background:#006DCC;
}
.btn-info {
  background:#49AFCD;
}
.btn-danger {
  background:#BD362F;
}
.btn-success {
  background:#5BB75B;
}
.btn-warning {
  background:#F89406;
}
.btn-inverse {
  background:#363636;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  background:none;
  background-color:#49AFCD;
}
/*************** end btn ****************/
.label-brown, .badge-brown {
  background:#6A4A3C;
}
.title {
  border-bottom:1px solid #eee;
  padding-bottom:8px;
}
.day {
  font-size:11px;
  padding:0px;
  margin:0px;
}
.day span {
  margin-right:20px;
}
.img-blog {
  padding:15px 0px;
}
.text {
  border-bottom:1px solid #eee;
}
.nav-header {
  color:#666;
}
.well {
  background:#fcfcfc;
}
.input-append, .input-prepend {
  margin-bottom:10px;
}
textarea, input[type="text"],
input[type="password"], input[type="datetime"],
input[type="datetime-local"], input[type="date"],
input[type="month"], input[type="time"],
input[type="week"], input[type="number"],
input[type="email"], input[type="url"],
input[type="search"], input[type="tel"],
input[type="color"], .uneditable-input {
  border-color:#d9d9d9;
}
label {
  margin:0px;
}
body > .container-fluid,
body > .container-fluid > .row-fluid {
  height:100%;
}
/************************************************/
/********************* header **********************/
/************************************************/
.header {
  margin-top:-20px;
  background:#f0f0f0;
  margin-bottom:20px;
  padding:10px 0px;
  border:1px solid #fff;
  border-top:0px;
  box-shadow:inset 0px 0px 2px #999;
  border-radius:0px 0px 4px 4px;
  float:left;
  width:100%;
}
.header .avatar {
  border:1px solid #dadada;
  float:left;
  border-radius:4px;
  margin-left:20px;
  background:#f5f5f5;
  padding:2px;
  width:36px;
}
.header .avatar img{
  width:36px;
  height:36px;
  float:left;
}
.header .name {
  margin:13px 0px 0px 8px;
  float:left;
}
.header .form-search {
  float:right;
  margin:5px 15px 0px 0px;
  width:42%;
}
.header .form-search input {
  width:70%;
  float:right;
  background:#fff url('../img/ic-search.png') 5px 5px no-repeat;
  padding-left:30px;
}
.user-nav {
  float:right;
  width:55%;
}
.user-nav ul {
  float:right;
  margin:5px 20px 0px 0px;
  border-left:1px solid #dadada;
  padding-left:20px;
}
.user-nav ul li {
  float:left;
  margin-left:5px;
}
.user-nav ul li a,
.middle-nav ul li a {
  color:#777;
  padding:5px 12px 5px 10px;
  border:1px solid #dadada;
  box-shadow:inset 0px -1px 1px #fff;
  background:#eaeaea;
  background-image: -moz-linear-gradient(top, #f8f8f8, #eaeaea);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#eaeaea));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #eaeaea);
  background-image: -o-linear-gradient(top, #f8f8f8, #eaeaea);
  background-image: linear-gradient(to bottom, #f8f8f8, #eaeaea);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#eaeaea', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.user-nav ul li a:hover,
.middle-nav ul li a:hover {
  background:#eaeaea;
}
.user-nav ul li a i {
  margin-right:5px; 
}
.middle-nav ul{
  float:right;
}
.title-area {
  padding-bottom:20px;
  *padding-top:20px;
  float:left;
  width:100%;
}
.page-title {
  background:url('../img/bg-title.png') left -5px no-repeat;
  float:left;
  height:70px;
  padding-top:8px;
}
.page-title h3 {
  margin-left:20px;
}
.middle-nav ul li {
  float:left;
  margin-left:5px;
}
.middle-nav ul li a{
  padding:5px 10px;
  text-align:center;
  line-height:1em;
}
.middle-nav ul li a i {
  font-size:24px;
}
.middle-nav ul li a span {
  display:block;
  text-align:center;
}
/************************************************/
/********************* sidebar **********************/
/************************************************/
.logo {
  color:#fff;
  font-size:25px;
  padding:20px;
  display:block;
  /*text-align: center;*/
  margin-left:10px;
}
.logo:hover {
  color:#fff;
}
#sidebar {
  /*height: 100%;
  float: left;
  position: relative;
  overflow-x: hidden;
  border-right: 2px solid #BBB;
  background-color: #333;
  padding-bottom:50px;*/
}
#sidebar {
  background:#ddd;
  height:100%;
  color:#fff;
  position:fixed;
  background-color: #333;
  padding-bottom:50px;
  overflow:auto;
}
.sidebar {
  left:0px;
  border:0px;
  border-right: 2px solid #BBB;
}
.sidebar-right {
  right:0px;
  border-right:none;
  border-left: 2px solid #BBB;
}
#sidebar .nav-list > li {
  /*border-left:5px solid #444;*/
  margin-left:-15px;
}
#sidebar .nav-list > li > a{
  color:#fff;
  text-shadow:none;
  padding:8px 10px;
  border-top:1px solid #3b3b3b;
  border-bottom:1px solid #282828;
  padding-left:20px;
}
#sidebar .nav-list > li > a:hover,
#sidebar .nav-list > li.active > a {
  background:#444;
  border-top-color: #4a4a4a;
}
#sidebar .nav-list > li > a > i {
  margin-right:5px;
}
/*sun*/
#sidebar .nav-list > li.sun {
  border-left:5px solid #EB6841;
}
#sidebar .nav-list > li.sun > a:hover,
#sidebar .nav-list > li.sun.active > a {
  background:#EB6841;
  border-top-color: #EB6841;
}
/*daylight*/
#sidebar .nav-list > li.daylight {
  border-left:5px solid #EDC951;
}
#sidebar .nav-list > li.daylight > a:hover,
#sidebar .nav-list > li.daylight.active > a {
  background:#EDC951;
  border-top-color: #EDC951;
}
/*red*/
#sidebar .nav-list > li.red {
  border-left:5px solid #CC333F;
}
#sidebar .nav-list > li.red > a:hover,
#sidebar .nav-list > li.red.active > a {
  background:#CC333F;
  border-top-color: #CC333F;
}
/*brown*/
#sidebar .nav-list > li.brown {
  border-left:5px solid #6A4A3C;
}
#sidebar .nav-list > li.brown > a:hover,
#sidebar .nav-list > li.brown.active > a {
  background:#6A4A3C;
  border-top-color: #6A4A3C;
}
/*ufo*/
#sidebar .nav-list > li.ufo {
  border-left:5px solid #00A0B0;
}
#sidebar .nav-list > li.ufo > a:hover,
#sidebar .nav-list > li.ufo.active > a {
  background:#00A0B0;
  border-top-color: #00A0B0;
}
.footer {
  display:block;
  float:left;
  margin-top:200px;
  position:fixed;
  background:#333;
  margin-left:-2px;
  width:14.893617021276595%;
  bottom:0px;
}
.footer p {
  bottom:0px;
  color:#fff;
  float:left;
  margin:10px;
}
.sidebar-right .footer{
   margin-left:0px;
}
#sidebar .change-menu {
  background:#222;
  padding:8px 15px;
  height:20px;
  border-radius:0px 6px 6px 0px;
  color:#fff;
  /*right:-26px;
  background:#bbb;
  padding:8px 8px;*/
  top:-40px;
  left:2px;
  position:absolute;
}
#sidebar .change-menu-right {
  right:0px;
}
/************************************************/
/********************* end sidebar **********************/
/************************************************/

/************************************************/
/********************* #main **********************/
/************************************************/
/*#main{
  position: relative;
  height: 100%;
  padding-top:20px;
  padding-bottom:20px;
  overflow-x:hidden;
  padding-right:2.127659574468085%;
  *margin-right:-20px;
  *margin-left:20px;
  overflow:auto;
}*/
#main,#main-left {
  padding-top:20px;
  padding-bottom:20px;
}
#main-left {
  margin-left:1.06382978723%;
}
/*.container-fluid {
  padding-left: 0px;
  padding-right:0px;
}*/
.box {
  padding:0px 10px 30px 10px;
  overflow:hidden;
}
.box-header,.box-body,.box-footer {
  padding:3px 10px;
  border:1px solid #eee;
  background:#fff;
  float:left;
  width:100%;
  background:#fff;
  margin-left:-10px;
  position:relative;
}
.box-body,.box-footer {
  padding:10px;
  border-top:none;
}
.box-header .collapse {
  position:absolute;
  right:14px;
  top:14px;
  height:20px;
  width:20px;
  border:1px solid #eee;
  text-align:center;
  background:#f9f9f9;
  color:#999;
}
.box-header .collapse:hover {
  background:#f1f1f1;
  color:#777;
}
.box-body.box-table {
  padding:0px;
}
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #eee;
}
.table-static {
  background:#fff;
  border:1px solid #eee;
}
.table-static tr td,
.table-static tr th {
  border-color:#eee;
  border-left:1px solid #eee;
  text-align:center;
}
.table-static tbody tr:nth-child(odd) td,
.table-static tbody tr:nth-child(odd) th {
background-color: #fcfcfc;
}
.plans-header {
  background:#00A0B0;
  width:100%;
  padding:20px 0px;
  border-radius:4px;
  -o-border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  text-align:center;
}
.plans-header h2 {
  color:#fff;
}
.plans-body {
  margin:20px 0px;
  width:100%;
  float:left;
}
.plans-body a{
  width:100%;
  float:left;
  color:#666;
  padding:10px 0px;
  background:#fafafa;
  text-align:center;
  border:1px solid #eee;
  border-top-color:#fff;
}
.plans-body a:hover{
  background:#fff;
}
.plans-body .btn-sun {
  background:#EB6841;
  color:#fff;
  border:none;
  padding:15px 0px;
  margin-top:10px;
}
.plans-body .btn-sun:hover {
  background:#da5f3b;
}
.plans-footer {
  float:left;
}
.plans-footer .table tr td,
.plans-footer .table tr th {
  text-align:center;
}
.plans-footer .table tr td {
  color:#ccc;
}
.plans-footer .table tr td:first-child,
.plans-footer .table tr th:first-child {
  text-align:left;
  color:#4a4a4a;
}
.plans-best-choose .plans-header {
  background:#EB6841;
}
#form-login {
  width:100%;
  background:#353535 url('../img/bg-repeat-login.png') left 50% repeat-x;
  padding:50px 0px;
}
#form-login form {
  float:none;
  margin:0px auto;
  padding-left:140px;
  height:460px;
  width:520px;
  padding-top:200px;
  background:url('../img/bg-login.png') left top no-repeat;
}
#form-login h4,
#form-login h4 span {
  color:#ddd;
  line-height:1.2em;
  border-bottom:0px;
  font-family: tahoma;
  font-size:18px;
}
#form-login h4 {
  margin-bottom:30px;
}
#form-login h4 span {
  font-size:13px;
  color:#ddd;
}
#form-login .form-actions {
  background:none;
  border-top:none;
  width:390px;
  padding:0px;
}
#form-login form input[type="text"] {
  width:360px;
  padding-right:20px;
  height:30px;
  background-color:#ddd;
  border-color:#f5f5f5;
  color:#333;
  margin-bottom:15px;
}
#form-login form input[type="checkbox"] {
  display:none;
  left:0px;
  z-index:1000;
  position:absolute;
}
#form-login form .checkbox {
  padding:0px;
  float:left;
  position:relative;
}
#form-login form .checkbox span {
  float:left;
  margin-right:10px;
  color:#777;
  font-size:12px;
}
#form-login form .btn {
  float:right;
  width:60px;
  height:25px;
  line-height:1.8em;
  border:solid #2d2d2d 3px;
  border-radius:8px;
}
.button-checkbox{
  display:block;
  width:80px;
  height:20px;    
  background-color:#232323;
  border-radius:5px;
  box-shadow:0 0 3px rgba(0,0,0,0.5) inset;
  position:relative;
}
.button-checkbox a{
  display:block;
  text-align:center;
  background-color:transparent;
  float:left;
  width:40px;
  height:20px;
  line-height:22px;
  font-size:11px;
  text-transform:uppercase;
  font-weight:bold;
  color:#00A0B0;
}
.slide{
  display:block;
  width:38px;
  height:16px;
  background-color:#484848;
  position:absolute;
  left:2px;
  top:2px;
  border-radius:4px;
  box-shadow:0 0 2px rgba(0,0,0,0.2);
}
.form-account label {
  padding-top:10px;
  color:#999;
}
.form-account input {
  padding:20px 10px;
  padding:10px 10px\9;
  *padding:10px 0px;
  background:#fafafa;
  border-color:#fff;
}
.form-account input:focus {
  background:#fff;
  border-color:#f9f9f9;
}
.form-account .form-actions {
  padding:15px 10px;
}
.recent-news ul{
  margin:0px;
  padding:0px;
}
.recent-news ul li {
  border-bottom:1px solid #f5f5f5;
  float:left;
  margin-bottom:12px;
  width:100%;
}
.news-item {
  width:80%;
  float:left;
  text-align:justify;
}
.time {
  text-align:right;
  width:20%;
  float:left;
  color:#999;
}
.time span {
  display:block;
}
.time .day {
  font-size:2em;
}
.box-table,
.box-table .box-body,
.box-table .box-header,
.box-table .box-footer {
  padding:0px 0px;
  margin:0px;
}
.box-table {
  margin-bottom:30px;
}
.box-table .box-header h3 {
  padding:5px 0px 10px 10px;
  border-bottom:1px solid #eee;
}
.box-table .box-header form {
  padding-left:10px;
  margin:0px 0px 10px 0px;
}
.box-table .box-header form select {
  width:80px;
  height:26px;
}
.box-table .box-header .form-search{
  position:absolute;
  right:45px;
  top:10px;
}
.box-table .box-header .form-search input {
  padding-left:25px;
}
.box-table .box-header .form-search input:focus {
  width:300px;
}
.box-table .box-header .form-search .icon-search-white {
  left:20px;
  top:8px;
  position:absolute;
  background:url('../img/search-white.png') left top no-repeat;
  height:15px;
  width:15px;
}
.box-table .table{
  padding:10px;
  margin:0px;
}
.box-table .table td,
.box-table .table th{
  border-color:#e9e9e9;
  border-left:1px solid #eee;
}
.box-table .table td:first-child,
.box-table .table th:first-child {
  border-left:none;
}
.box-table .table tbody tr:nth-child(odd) td,
.box-table .table tbody tr:nth-child(odd) th {
  background-color: #F9F9F9;
}
.box-table .table tbody tr:hover td,
.box-table .table tbody tr:hover th {
  background-color: #eee;
}
.box-table .table tfoot .nav-pills {
  float:right;
  margin:0px;
  padding:0px;
}
.box-table .table tfoot .nav-pills a,
.box-table .table tfoot .nav-pills a span{
  background:#eee;
  color:#555;
  border-radius:2px;
  -o-border-radius:2px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
}
.box-table .table tfoot .nav-pills a:hover,
.box-table .table tfoot .nav-pills a.active,
.box-table .table tfoot .nav-pills a:hover span,
.box-table .table tfoot .nav-pills a.active span {
  background:#00a0b0;
  color:#fff;
}
.box-table .page-number {
  float:left;
  margin-top:8px;
}
.box-table .table-media p{
  margin:0px;
}
.table-media .description {
  width:40%;
}
.box-table .table-media tr th,
.box-table .table-media tr td{
  text-align:center;
  vertical-align: middle;
}
.box.tabbable .box-header {
  padding-bottom:0px;
}
.tabbable.box-table .box-header{
  /*background:none;*/
  border-top:none;
  border-left:none;
}
.box.tabbable .nav{
  padding:0px;
}
.box.tabbable .nav-tabs {
  border:none;
  margin-bottom:0px;
}
.box.tabbable .nav-tabs li {

}
.box.tabbable .nav-tabs li a {
  padding:13px;
  border-bottom-color:#E9E9E9;
  background:#fafafa;
  border-radius:0px;
  -o-border-radius:0px;
  -moz-border-radius:0px;
  -webkit-border-radius:0px;
}
.box.tabbable .nav-tabs li.active a,
.box.tabbable .nav-tabs li a:hover {
  background:#fff;
}

.add-userlist {
  background:#eee;
  padding:10px;
}
.userlist {
  margin:0px;
  padding:0px;
}
.userlist li {
  font-size: 12px;
  line-height: 18px;
  border-bottom: 1px dashed #DDD;
  padding: 10px;
  position:relative;
}
.userlist .btn-group {
  position:absolute;
  right:0px;
  top:10px;
}
.userlist li .avatar{
  float: left;
  margin-right: 10px;
  padding: 2px;
  border: 1px solid #EEE;
  width:50px;
  height:50px;
}
.more {
margin-top:10px;
display: block;
text-align: center;
background: #EEE;
padding: 5px 0;
font-size: 12px;
text-transform: uppercase;
border-top: 1px solid #DDD;
}
.more:hover {
  background:#f4f4f4;
}
.box-body>form {
  margin:0px;
}
.box-body .form-actions {
  margin:0px -10px -10px -10px;
  background:#F9F9F9;
}
.alert i {
  font-size:30px;
  float:left;
  margin-right:10px;
  line-height:26px;
}
.alert-block i {
  line-height:36px;
  *line-height:40px;
  font-size:50px;
  min-width:50px;
  margin-top:5px;
  float:left;
}

/************************************************/
/********************* end #main **********************/
/************************************************/

/**************ic-icon**************/
/*=======================================*/
.box-stats {
  background:#fff;
  margin:0px 0px 20px 0px;
  float:left;
  width:100%;
  border:1px solid #eee;
  box-shadow:0px 1px 1px #dedede;
  border-radius:4px;
  padding:15px 0px;
}
.box-stats li {
  float:left;
  width:16%;
  margin-left:4%;
}
.box-stats .left {
  background:#333;
  width:50px;
  height:50px;
  float:left;
  border-radius:30px;
  -o-border-radius:30px;
  -moz-border-radius:30px;
  -webkit-border-radius:30px;
  background:#00a0b0;
  margin-right:10px;
}
.box-stats .left span {
  margin:5px 0px 0px 5px;
  float:left;
}
.box-stats .right {
  padding-top:7px;
}
.box-stats .right strong{
  display:block;
  color:#00a0b0;
  font-size:24px;
}
.box-stats .right strong a {
  font-family: 'cooper',sans-serif;
}
.box-stats .right span {
  font-style:italic;
  color:#777;
}
/*process-bars*/
.process-bars li {
  margin:0px;
  margin:0px 2%;
}
.process-bars .progress{
  height:10px;
  margin:5px 0px 3px 0px;
}
/*stats-table - stats-list*/
.stats-list .box-body,
.stats-list .box-footer,
.stats-table .box-body,
.stats-table .box-footer {
  padding:0px;
}
.stats-list .box-stats,
.stats-table .box-stats {
  border:none;
  box-shadow:none;
  padding:10px;
  margin:0px;
}
/*stats-list*/
.stats-list .box-body {
  padding:3px 20px 4px 0px;
}
.stats-list li{
  width:40%;
  margin:15px 5%;
}
.stats-list .left{
  border-radius:4px;
  -o-border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
}
/*stats-table*/
.stats-table .box-stats {
  padding:0px;
}
.stats-table li{
  width:100%;
  margin:0px;
  padding-left:20px;

}
.stats-table .left {
  background:#f8f8f8;
  border-radius:0px;
  -o-border-radius:0px;
  -moz-border-radius:0px;
  -webkit-border-radius:0px;
  width:15%;
  margin:0px;
  text-align:center;
  height:45px;
  padding:0px 10px;
  margin-left:-20px;
  color:#CC333F;
}
.stats-table .left span {
  float:none;
  margin:0px;
}
.stats-table .left span i{
  font-size:26px;
  line-height:1.7em;
}
.stats-table .right {
  height:45px;
  width:85%;
  float:left;
  background:#fff;
  padding:0px;
}
.stats-table .right span,
.stats-table .right strong {
  display:block;
  float:left;
  width:70%;
  margin-top:16px;
}
.stats-table .right strong {
  width:26%;
  padding-left:4%;
  margin-top:12px;
}
.stats-table li:nth-child(odd) .left{
  background:#eaeaea;
  color:#6A4A3C;
}
.stats-table li:nth-child(odd) .right {
  background:#f8f8f8;
  color:#6A4A3C;
}
/**************ic-icon**************/
/*=======================================*/
[class^="icon-"], [class*=" icon-"] {
display: inline-block;
width: auto;
height: auto;
margin-top: 1px;
line-height: 14px;
vertical-align: middle;
background-image: none;
background-position: 14px 14px;
background-repeat: no-repeat;
}
[class^="ic-"]{
  background:url('../img/icon.png') -30px -30px no-repeat;
  height:40px;
  width:40px;
  float:left;
}
/********************/
.ic-user {
  background-position:-130px -30px;
}
.ic-popularity {
  background-position: -130px -130px;
}
.ic-site-visits {
  background-position:-130px -230px;
}
.ic-sales {
  background-position:-130px -330px;
}
.ic-orders {
  background-position:-130px -430px;
}
/********************/
.stats-list .ic-user {
  background-position:-30px -30px;
}
.stats-list .ic-popularity {
  background-position: -30px -130px;
}
.stats-list .ic-site-visits {
  background-position:-30px -230px;
}
.stats-list .ic-sales {
  background-position:-30px -330px;
}
.stats-list .ic-orders {
  background-position:-30px -430px;
}
.stats-list .ic-pending-orders {
  background-position:-30px -530px;
}

/* Ocean Five
http://www.colourlovers.com/palette/1473/Ocean_Five
=======================================*/
.ufo {
  color: #00A0B0;
}
.box-stats .left.ufo,
.box-stats .right.ufo .progress .bar {
  background-image:none;
  filter: progid:none;
  background-color: #00A0B0;
}
.brown{
  color: #6A4A3C;
}a.brown:hover {
  color:#5f4236;
}
.box-stats .left.brown,
.box-stats .right.brown .progress .bar {
  background-image:none;
  filter: progid:none;
  background-color: #6A4A3C;
}
.red{
  color: #CC333F;
}a.red:hover {
  color:#bd2f3b;
}
.box-stats .left.red,
.box-stats .right.red .progress .bar {
  background-image:none;
  filter: progid:none;
  background-color: #CC333F;
}
.sun{
  color: #EB6841;
}a.sun:hover {
  color:#df623c;
}
.box-stats .left.sun,
.box-stats .right.sun .progress .bar {
  background-image:none;
  filter: progid:none;
  background-color: #EB6841;
}
.daylight {
  color: #EDC951;
}a.daylight:hover {
  color:#e0be4c;
}
.box-stats .left.daylight,
.box-stats .right.daylight .progress .bar {
  filter: progid:none;
  background-image:none;
  background-color: #EDC951;

}
.graph-info .alert{
  float:left;
  margin:0px;
}

