html, body {
  height: 100%; }
body {
  color:#4a4a4a;
  background:#f5f5f5;
  font: 13px/1.6 "Lucida Grande",Tahoma,Verdana,Arial,sans-serif;
  line-height:1.5em;
}
ul,li {
  list-style-type:none;
}
h1,h2,h3,h4,h5,h6 {
  font-weight:500;
  line-height:1em;
}
h1 {
  margin:20px 0px 40px 0px;
}
a {
  color:#3795bc;
}
a:hover {
  text-decoration:none;
  color:#2c7695;
}
.btn-primary {
  background:#3795bc;
  padding:10px 35px;
}
.btn-primary:hover {
  background:#2c7695;
}
.btn-danger {
  background:#d56738;
  border:none;
  padding:10px 35px;
}
.btn-danger:hover {
  background:#b45126;
}
.orange {
  color:#d56738;
}
.blue {
  color:#3795bc;
}
.title {
  border-bottom:1px solid #eee;
  padding-bottom:8px;
}
.day {
  font-size:11px;
  padding:0px;
  margin:0px;
}
.day span {
  margin-right:20px;
}
.img-blog {
  padding:15px 0px;
}
.text {
  border-bottom:1px solid #eee;
}
textarea, input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"], input[type="month"],
input[type="time"], input[type="week"],
input[type="number"], input[type="email"],
input[type="url"], input[type="search"],
input[type="tel"], input[type="color"], .uneditable-input {
  border-color:#eee;
  box-shadow:none;
  /*border-radius:0px;
  -o-border-radius:0px;
  -moz-border-radius:0px;
  -webkit-border-radius:0px;*/
}
.nav-header {
  color:#666;
}
.well {
  background:#fcfcfc;
}
body > .container-fluid,
body > .container-fluid > .row-fluid {
  height:100%;
}
/************************************************/
/********************* sidebar **********************/
/************************************************/
.logo {
  color:#fff;
  font-size:25px;
  padding:20px;
  display:block;
  text-align: center;
}
.logo:hover {
  color:#fff;
}
#sidebar {
  height: 100%;
  float: left;
  position: relative;
  overflow-x: hidden;
  border-right: 2px solid #BBB;
  background-color: #333;
  padding-bottom:50px;
}
#sidebar .nav-list > li {
  border-left:5px solid #444;
  margin-left:-15px;
}
#sidebar .nav-list > li > a{
  color:#fff;
  text-shadow:none;
  padding:8px 10px;
  border-top:1px solid #3b3b3b;
  border-bottom:1px solid #282828;
  padding-left:20px;
}
#sidebar .nav-list > li > a:hover,
#sidebar .nav-list > li.active > a {
  background:#444;
  border-top-color: #4a4a4a;
}
#sidebar .nav-list > li > a > i {
  margin-right:5px;
}
/*sun*/
#sidebar .nav-list > li.sun {
  border-left:5px solid #EB6841;
}
#sidebar .nav-list > li.sun > a:hover,
#sidebar .nav-list > li.sun.active > a {
  background:#EB6841;
  border-top-color: #EB6841;
}
/*daylight*/
#sidebar .nav-list > li.daylight {
  border-left:5px solid #EDC951;
}
#sidebar .nav-list > li.daylight > a:hover,
#sidebar .nav-list > li.daylight.active > a {
  background:#EDC951;
  border-top-color: #EDC951;
}
/*red*/
#sidebar .nav-list > li.red {
  border-left:5px solid #CC333F;
}
#sidebar .nav-list > li.red > a:hover,
#sidebar .nav-list > li.red.active > a {
  background:#CC333F;
  border-top-color: #CC333F;
}
/*brown*/
#sidebar .nav-list > li.brown {
  border-left:5px solid #6A4A3C;
}
#sidebar .nav-list > li.brown > a:hover,
#sidebar .nav-list > li.brown.active > a {
  background:#6A4A3C;
  border-top-color: #6A4A3C;
}
/*ufo*/
#sidebar .nav-list > li.ufo {
  border-left:5px solid #00A0B0;
}
#sidebar .nav-list > li.ufo > a:hover,
#sidebar .nav-list > li.ufo.active > a {
  background:#00A0B0;
  border-top-color: #00A0B0;
}
.footer {
  display:block;
  float:left;
  margin-top:200px;
  position:fixed;
  bottom:0px;
  background:#333;
}
.footer p {
  bottom:0px;
  color:#fff;
  float:left;
  margin-top:10px;
}

/************************************************/
/********************* end sidebar **********************/
/************************************************/

/************************************************/
/********************* #main **********************/
/************************************************/
#main {
  position: relative;
  height: 100%;
  padding-top:20px;
  padding-bottom:20px;
  /*background:green;*/
  overflow-x:hidden;
  padding-right:2.127659574468085%;
}
.container-fluid {
  padding-left: 0px;
  padding-right:0px;
}
.box {
  margin-bottom:20px;
}
.box-header {
  padding:10px;
  border:1px solid #eee;
}
.box-body {
  padding:10px;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}

.box-body {
  background:#fff;
}
.box-header  {
  background:#fff; 
}
.box-header {
  padding:3px 10px;
}

.box-body.box-table {
  padding:0px;
}
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #eee;
}
.table-static {
  background:#fff;
  border:1px solid #eee;
}
.table-static tr td,
.table-static tr th {
  border-color:#eee;
  border-left:1px solid #eee;
  text-align:center;
}
.table-static tbody tr:nth-child(odd) td,
.table-static tbody tr:nth-child(odd) th {
background-color: #fcfcfc;
}
.plans-header {
  background:#3795bc;
  width:100%;
  padding:20px 0px;
  border-radius:4px;
  -o-border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  text-align:center;
}
.plans-header h2 {
  color:#fff;
}
.plans-body {
  margin:20px 0px;
  width:100%;
  float:left;
}
.plans-body a{
  width:100%;
  float:left;
  color:#666;
  padding:10px 0px;
  background:#fafafa;
  text-align:center;
  border:1px solid #eee;
  border-top-color:#fff;
}
.plans-body a:hover{
  background:#fff;
}
.plans-body .btn-danger {
  background:#d56738;
  color:#fff;
  border:none;
  padding:15px 0px;
  margin-top:10px;
}
.plans-body .btn-danger:hover {
  background:#b45126;
}
.plans-footer .table tr td,
.plans-footer .table tr th {
  text-align:left;
}
.plans-best-choose .plans-header {
  background:#d56738;
}
/************************************************/
/********************* end #main **********************/
/************************************************/

/************************************************/
/********************* end footer **********************/
/************************************************/

[class^="ic-"],
[class*=" ic-"] {
  height:20px;
  width:20px;
  float:left;
  background: url('../img/icon.png') left top no-repeat;
}
.ic-home {
  background-position: left top;
}
.ic-charts {
  background-position: left -20px;
}
.ic-plans {
  background-position: left -40px;
}
.ic-grid {
  background-position: left -60px;
}
.ic-blog {
  background-position: left -80px;
}
.ic-account {
  background-position: left -100px;
}
.ic-login {
  background-position: left -120px;
}
.ic-google-add,.ic-facebook,.ic-twitter {
  background:url('../img/icon.png') -20px top no-repeat;
  height:40px;
  width:40px;
  float:left;
}
.ic-twitter {
  background-position:-20px -40px;
}
.ic-facebook {
  background-position:-20px -80px;
}
.ic-check,.ic-check-gray {
  background:url('../img/ic-check.png') left top no-repeat;
  height:9px;
  width:9px;
  float:left;
  margin:5px;
}
.ic-check-gray {
  background-position: -9px top;
}

/* Ocean Five
http://www.colourlovers.com/palette/1473/Ocean_Five
=======================================*/
.ufo {
  color: #00A0B0;
}
.brown {
  color: #6A4A3C;
}
.red {
  color: #CC333F;
}
.sun {
  color: #EB6841;
}
.daylight {
  color: #EDC951;
}
