html, body {
  height: 100%; }
body {
  color:#4a4a4a;
  font-size:13px;
}
ul,li {
  list-style-type:none;
}
h1,h2,h3,h4,h5,h6 {
  font-weight:500;
  line-height:1.3em;
}
a {
  color:#006078;
}
a:hover {
  text-decoration:none;
  color:#0093a2;
}
/*************** btn ****************/

/*************** navbar ****************/
.navbar-fixed-top .navbar-inner {
  min-height:20px;
}
.navbar-blue .navbar-inner {
  box-shadow:none;
  background-color: #28a9ae;
  background-image: -moz-linear-gradient(top, #28a9ae, #28a9ae);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#28a9ae), to(#28a9ae));
  background-image: -webkit-linear-gradient(top, #28a9ae, #28a9ae);
  background-image: -o-linear-gradient(top, #28a9ae, #28a9ae);
  background-image: linear-gradient(to bottom, #28a9ae, #28a9ae);
  background-repeat: repeat-x;
  border-color: #148488;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#28a9ae', endColorstr='#28a9ae', GradientType=0);
}
.navbar .nav {
  margin:0px;
  padding:0px;
  width:100%;
}
.navbar .nav > li > a {
  text-shadow:none;
  color:#fff;
  border-left:1px solid #3fb7bc;
  background:#28a9ae url('../img/icon-nav.gif') no-repeat;
  padding:10px 15px 6px 40px;
  * padding-right:17px;
}
.navbar .nav > li > a:hover,
.navbar .nav > li.active > a,
.navbar .nav > li.active > a:hover {
  background:#fff url('../img/icon-nav.gif') 0px -360px no-repeat;
  box-shadow:none;
}
.navbar .nav > li.home > a {
  height:20px;
  padding-right:0px;
}
.navbar .nav > li.market > a{
  background-color:#cb60b0;
  color:#fff;
  height:20px;
  * padding-right:20px;
}
/*************** icon ****************/
.navbar .nav > li.forum > a{
  background-position:0px -40px;
}
.navbar .nav > li.news > a{
  background-position:0px -80px;
}
.navbar .nav > li.style > a{
  background-position:0px -120px;
}
.navbar .nav > li.wedding > a{
  background-position:0px -160px;
}
.navbar .nav > li.family > a{
  background-position:0px -200px;
}
.navbar .nav > li.pregnancy > a{
  background-position:0px -240px;
}
.navbar .nav > li.parents > a{
  background-position:0px -280px;
}
.navbar .nav > li.market > a{
  background-position:7px -320px;
}
.navbar .nav > li.forum > a:hover,
.navbar .nav > li.active.forum > a,
.navbar .nav > li.active.forum > a:hover {
  background-position:0px -400px;
}
.navbar .nav > li.news > a:hover,
.navbar .nav > li.active.news > a,
.navbar .nav > li.active.news > a:hover {
  background-position:0px -440px;
}
.navbar .nav > li.style > a:hover,
.navbar .nav > li.active.style > a,
.navbar .nav > li.active.style > a:hover {
  background-position:0px -480px;
}
.navbar .nav > li.wedding > a:hover,
.navbar .nav > li.active.wedding > a,
.navbar .nav > li.active.wedding > a:hover {
  background-position:0px -520px;
}
.navbar .nav > li.family > a:hover,
.navbar .nav > li.active.family > a,
.navbar .nav > li.active.family > a:hover {
  background-position:0px -560px;
}
.navbar .nav > li.pregnancy > a:hover,
.navbar .nav > li.active.pregnancy > a,
.navbar .nav > li.active.pregnancy > a:hover {
  background-position:0px -600px;
}
.navbar .nav > li.parents > a:hover,
.navbar .nav > li.active.parents > a,
.navbar .nav > li.active.parents > a:hover {
  background-position:0px -640px;
}
.navbar .nav > li.market > a:hover,
.navbar .nav > li.active.market > a,
.navbar .nav > li.active.market > a:hover {
  background-position:7px -680px;
  background-color:#fff;
  color:#777;
}
/*************** header ****************/
#header {
  padding:70px 0px 10px 0px;
}
#header .form-inline .btn-search{
  float:right;
  border:none;
  color:#fff;
  padding:5px 10px 5px 30px;
  * padding:5px 10px 1px 30px;
  background:#19868a url('../img/icon-search.png') 5px 4px no-repeat;
  border-radius:0px 4px 4px 0px;
  -o-border-radius:0px 4px 4px 0px;
  -moz-border-radius:0px 4px 4px 0px;
  -webkit-border-radius:0px 4px 4px 0px;
}
#header .form-inline .btn-search:hover {
  background-color:#28a9ae;
}
#header .form-inline input{
  width:260px;
  * width:240px;
  float:left;
  margin-right:-5px;
  border-radius:4px 0px 0px 4px;
  -o-border-radius:4px 0px 0px 4px;
  -moz-border-radius:4px 0px 0px 4px;
  -webkit-border-radius:4px 0px 0px 4px;
}
.userbar img {
  float:left;
  margin-right:5px;
}
.userbar .avata {
  border:1px solid #c1c1c1;
}
.userbar span{
  display:block;
  font-size:12px;
  line-height:1.5em;
}
.userbar strong{
  color:#f46611;
}
.header-bottom {
  background:url('../img/bg-bottom-hd.png') no-repeat;
  height:142px;
  position:relative;
}
.header-bottom .members{
  position:absolute;
  bottom:8px;
  left:0px;
}
.header-bottom .members span {
  margin-left:55px;
}
.header-bottom .members span strong {
  color:#f46611;
  font-size:15px;
  margin-right:5px;
}
.banner {
  text-align:center;
  background:#e8e8e8;
  padding:5px 0px;
  margin-top:10px;
}
/*************** main ****************/
.body-main {
  padding-bottom:10px;
}
.title {
  position:relative;
}
.title .icon-down {
  position:absolute;
  right:8px;
  top:8px;
  background:url('../img/icon.png') left -192px no-repeat;
  height:16px;
  width:16px;
  float:left;
}
.title h3 {
  background:#00aeb0;
  color:#fff;
  font-size:1.6em;
  margin:0px;
  padding:5px 10px;
}
.title .down {
  position:absolute;
  right:5px;
  top:5px;
}
.title p {
  background:#e8e8e8;
  padding:5px 10px;
  border:1px solid #e0e0e0;
  margin-top:1px;
}
#forum {
  width:100%;
  margin:0px;
}
.foruminfo {
  border-bottom:1px solid #e7e7e7;
  width:100%;
  float:left;
  margin-bottom:10px;
}
.foruminfo .forumicon {
  height:48px;
  width:50px;
  float:left;
}
.datacontainer {
  margin-left:10px;
  float:left;
  width:560px;
}
h5.forumtitle{
  background:#fff7ec;
  position:relative;
  padding:7px 5px;
  color:#058388;
  margin:0px;
  font-size:15px;
}
.datacontainer .nav-pills {
  margin-top:15px;
}
.datacontainer .nav-pills li {
  width:50%;
}
.datacontainer .nav-pills li a {
  font-weight:bold;
  margin:0px 0px 5px 0px;
  padding:0px;
}
.datacontainer .nav-pills li a:hover{
  background:none;
}
.forum-stats {
  position:absolute;
  right:5px;
  top:5px;
  font-size:11px;
  color:#565656;
}
.lastpostby a{
  color:#f46611;
}
/*************** sidebar ****************/
.box {
  margin-bottom:15px;
}
.box h3{
  border-bottom:1px solid #c8c8c8;
  margin:16px 0px 8px 0px;
}
.sponsors {
  background:url('../img/icon-title.png') left top no-repeat;
  height:20px;
  display:block;
  width:100%;
}
.stylish {
  background:url('../img/icon-title.png') left -20px no-repeat;
  height:30px;
  display:block;
  width:100%;
}
/*************** slider ****************/
.pagination {
  display:none;
}
#slides {
  position:relative;
  overflow:hidden;
  * height:430px;/*IE7*/
}
#slides .slides_container {
  width:100%;
  height:430px;
  /*background:#333;*/
}
#slides .slides_container .view-more {
  width:100%;
  border-top:1px dashed #c8c8c8;
  padding-top:10px;
  margin:0px;
}
#slides .slides_container a.title-product {
  display:block;
  text-align:center;
  font-size:1.2em;
  margin-bottom:10px;
}
#slides .slides_container .view-more a {
  width:100px;
  float:right;
  text-align:center;
  color:#fff;
  padding:5px 10px 2px 10px;
  background:#009a9d;
  border-radius:4px;
  -o-border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
}
#slides .slides_container .view-more a:hover {
  background:#00898c;
}
#slides .nav {
  width:300px;
  float:left;
}
#slides .nav li {
  float:left;
  * width:145px;/*IE7*/
  * padding-right:5px;
  margin:0px 0px 10px 0px;
}
#slides .nav li:nth-child(odd) {
  margin-right:10px;
}
#slides .next {
  position:absolute;
  right:-30px;
  top:0px;
  z-index:100;
  padding-left:20px;
  background:url('../img/icon-slider.png') -16px top no-repeat;
}
#slides .prev {
  position:absolute;
  left:-30px;
  top:0px;
  z-index:100;
  padding-right:25px;
  background:url('../img/icon-slider.png') 32px top no-repeat;
}



