body {
	background: url(../img/subtle_dots.png);
	position: relative;
	padding-top: 90px;
}

a.profile {
	padding: 10px;
	width: 200px;
	height: 150px;
	display: block;
	background-color: white;
	border: 1px solid #e5e5e5;
}

a.profile::after {
	content: "";
}

.m-nav {
	list-style: none;
	margin-top: 20px;
}

.m-nav li {
	text-align: right;
	margin-bottom: 3px;
}

.m-nav li a {
	display: inline-block;
	text-decoration: none;
	text-align: right;
	padding: 5px;
}

.m-nav li a.active {
	display: block;
}

.m-nav li a:hover {
	text-decoration: none;
	color: white;
}

.m-navbar {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

.m-navbar-inner {
	background-color: white;
	padding: 5px;
}

.m-color1 {
	background-color: #024b97;
	color: #35c9fb;
}

.m-color2 {
	background-color: #E47809;
	color: #FFF;
}

.m-color3 {
	background-color: #E54C26;
	color: white;
}

.m-color4 {
	background-color: #0171BB;
	color: white;
}

.m-color5 {
	background-color: #517B94;
	color: #FFF;
}

.m-color6 {
	background-color: #5A68A5;
	color: black;
}

/* Icon set */
.m-icon {
	display: inline-block;
	width: 45px;
	height: 45px;
	line-height: 14px;
	vertical-align: text-top;
	background-image: url("../img/glyphicons.png");
	background-repeat: no-repeat;
}

.m-icon.email {
	background-position: 8px -39px;
}

.m-icon.facebook {
	background-position: 8px -1863px;
}

.m-icon.googleplus {
	background-position: -89px -1719px;
}

.m-icon.twitter {
	background-position: -41px -1863px;
}

.m-thumbnail {
	margin: 0 45px;
	color: #35c9fb;
}

.m-thumbnail li {
	position: relative;
}

.m-thumbnail a {
	display: inline-block;
	white-space: nowrap;
	text-decoration: none;
}

.m-thumbnail .m-p-preview {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 45%;
	text-align: center;
}