body {
	/*background-color: #a9cff3;*/
	background-color: #bee4ff;
}

.m-navbar-inner {
	background: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.m-top-bar {
	background-color: white;
	border-radius: 0 0 5px 5px;
}

.m-line-header{
	height: 3px;
	background-color: #fdcd47;
}

.m-navigation {
	list-style: none;
	margin: 0; padding: 0;
}

.m-navigation li {
	float: left;
	text-indent: -9999px;
	padding: 5px;
}

.m-navigation li a {
	display: block;
	text-align: center;
	height: 45px;
	width: 45px;
}

.m-navigation li.divider{
	height: 45px;
	width: 1px;
	padding: 5px 0px;
	background-color: #E5E5E5;
}

.m-navigation li.divider:before,
.m-navigation li.divider:after {
	content: "";
}

.m-icon {
	background: url(../img/glyphicons.png) no-repeat left top transparent;
	height: 45px;
	width: 45px;
	display: block;
}

.m-icon.up {
	background-position: -40px -950px;
}

.m-icon.refresh {
	background-position: -85px -375px;
}

.m-icon.shuffle {
	background-position: -135px -375px;	
}

.m-search {
	margin: 0 0 0 15px;
	padding: 10px 0px;
}

.m-search input {
	margin: 0;
	height: 25px;
	width: 400px;
	background-color: #DCEDFA;
	color: #08c;
}